## Notebook covers following topics:
- **List Comprehensions**
    - Nested list comprehensions
    - Nested loops using list comprehensions
    - List comprehensions behave like functions interms of scope
- **Iteration using next_ method**
- **Iterators**
    - Iterators are objects that implement the __iter__ and __next__ methods.
    - The __iter__ method of an iterator just returns itself.
    - Iterator **will get exhausted**.
- **Iterators and iterables**
    - An iterable is an object that can return an iterator (__iter__).    
    - How to solve exhaustion problem
    - Iterable **wont get exhausted**.
    - **iter()** function is used to request an iterator object from an iterable.
        - How to use **iter** on **lists**
        - How to use **iter** on **range**
- **Consuming iterators manually**
    - Usecase with cars.csv file
- **Cyclic Iterators**
    - Usecase to generate ['1N', '2S', '3W', '4E', '5N'...and so on] using zip, repetition and list comprehension.
    - Doing the same with a custom made cyclic iterator
    - Using **itertools.cycle** - Python's inbuilt cyclic iterator
- **Lazy Iterables**
    - Circle example where we reset radius & calculate and store area too each time when radius is changed
    - Circle example where we reset radius & calculate area only when c.area is called
    - Circle example where we reset radius & calculate area only when c.area is called & radius is changed. If radius is not changed, even when c.area is called, dont recalculate but fetch the c._area already stored and show it
    - Iterator example using factorial usecase - both finite and infinite sequence (Infinite customized from finite)
- **Iterators in file handling**
    - **TextIOWrapper** class
    - **next** method to fetch rows
    - **f.readline()** to fetch rows one-by-one
    - **f.readlines()** to fetch all the rows atonce to a list (memory overhead will be high)
    - Using **'for'** loop to print rows one-by-one
- **Sorting Iterables**
- **Iterating Callables, Delegating Iterators, Reversed Iteration, Reversing Sequences**

In [22]:
# Imports required for this notebook
import math
from math import factorial
import dis
from collections import namedtuple
import itertools

### List Comprehensions

In [2]:
squares = [i**2 for i in range(0,11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Even squares only
even_squares = [i**2 for i in range(0,10) if i%2 == 0]

In [4]:
even_squares

[0, 4, 16, 36, 64]

**Nested list comprehensions**

You'll notice here that we nested one list comprehension inside another.

You should also notice that the inner comprehension (the one that has i*j) is accessing a local variable i, as well as a variable from the enclosing comprehension - the j variable. Just like a closure! And in fact, it is exactly that. We'll come back to that in a bit.

In [6]:
prod = [ [i*j for j in range(0,11)]
         for i in range(0,11)]

In [7]:
prod

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

**Pascals triangle**

1

1 1

1 2 1

1 3 3 1

1 4 6 4 1

Calculation is C(n, k) = n! / (k! (n-k)!)

- row 0, column 0: n=0, k=0: c(0, 0) = 0! / 0! 0! = 1/1 = 1
- row 4, column 2: n=4, k=2: c(4, 2) = 4! / 2! 2! = 4x3x2 / 2x2 = 6

In [21]:
# Conventional way
from math import factorial as fact
pasc_lst = []
for n in range(10):
    lst = []
    for k in range(n+1):
        num = int(fact(n)//(fact(k)*fact(n-k)))        
        lst.append(num)
    if lst:
        pasc_lst.append(lst)
pasc_lst

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]]

In [22]:
def combo(n,k):
    num = fact(n) // (fact(k)*fact(n-k))
    return int(num)

***In below function, outer comprehension acceses global variable 'size', creates its local variable 'n' . Inner comprehension accesses 'n' which is a non-local variable to it & creates its own local variable 'k'***

In [24]:
size = 10
pascals = [[combo(n,k) for k in range(n+1)]
            for n in range(size)]
pascals

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]]

***Nested loops - Demonstration with an example***

In [25]:
l1 = ['a', 'b', 'c']
l2 = ['x', 'y', 'z']
lst = []
for i in l1:
    for j in l2:
        ele = i+j
        lst.append(ele)
lst

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [26]:
# List comprehension way

lst = [i+j for j in l2 for i in l1]
lst

['ax', 'bx', 'cx', 'ay', 'by', 'cy', 'az', 'bz', 'cz']

In [28]:
# We dont want 'bb' and 'cc' ie elements repeated

l1 = ['a', 'b', 'c']
l2 = ['b', 'd', 'c']
lst = []
for i in l1:
    for j in l2:
        if i != j:
            ele = i+j
            lst.append(ele)
lst

['ab', 'ad', 'ac', 'bd', 'bc', 'cb', 'cd']

In [29]:
# List comprehension way
lst = [i+j for j in l2 for i in l1 if i != j]
lst

['ab', 'cb', 'ad', 'bd', 'cd', 'ac', 'bc']

***Implementing zip using list comprehension***

In [30]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l2 = ['a', 'b', 'c', 'd']
lst = list(zip(l1, l2))
lst

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [31]:
# Conventional way to achieve the same

lst = []
for index_a, i in enumerate(l1):
    for index_b, j in enumerate(l2):
        if index_a == index_b:
            tup = (i, j)
            lst.append(tup)
lst

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [33]:
# List comprehension way
lst = [(i,j) for index_b, j in enumerate(l2)
       for index_a, i in enumerate(l1)
       if index_a == index_b]
lst

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

We need to recognize that list comprehensions are essentially temporary functions that Python creates, executes and returns the resulting list from it.

We can see this by compiling a comprehension, and then disassembling the compiled code to see what happened:

In [34]:
import dis

In [35]:
compiled_code = compile('[i**2 for i in (1, 2, 3)]', 
                        filename='', mode='eval')

In [36]:
dis.dis(compiled_code)

  1           0 LOAD_CONST               0 (<code object <listcomp> at 0x000002A7F5551B70, file "", line 1>)
              2 LOAD_CONST               1 ('<listcomp>')
              4 MAKE_FUNCTION            0
              6 LOAD_CONST               2 ((1, 2, 3))
              8 GET_ITER
             10 CALL_FUNCTION            1
             12 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x000002A7F5551B70, file "", line 1>:
  1           0 BUILD_LIST               0
              2 LOAD_FAST                0 (.0)
        >>    4 FOR_ITER                12 (to 18)
              6 STORE_FAST               1 (i)
              8 LOAD_FAST                1 (i)
             10 LOAD_CONST               0 (2)
             12 BINARY_POWER
             14 LIST_APPEND              2
             16 JUMP_ABSOLUTE            4
        >>   18 RETURN_VALUE

As you can see, in step 4, Python created a function (MAKE_FUNCTION), called it (CALL_FUNCTION), and then returned the result (RETURN_VALUE) in the last step.

So, comprehensions will behave like functions in terms of scope. They have local scope, and can access global and nonlocal scopes too. And nested comprehensions will also behave like nested functions and closures.

In [39]:
v1 = (1, 2, 3, 4, 5, 6)
v2 = (10, 20, 30, 40, 50, 60)

In [43]:
dot = sum([v1*v2 for v1, v2 in zip(v1, v2)])

In [44]:
dot

910

**Let us check the scope of variables in list comprehension**

In [45]:
if 'number' in globals():
    del number

In [46]:
lst = [number**2 for number in v1]
lst

[1, 4, 9, 16, 25, 36]

In [48]:
number          #number was in local scope & its scope ended with list comprehension executed above

NameError: name 'number' is not defined

In [50]:
'number' in globals()

False

In [51]:
## Let us take another example
number = 11
lst = [number*i for i in range(5)]
lst

[0, 11, 22, 33, 44]

In [53]:
number       # In above example list comprehension took 'number' from global scope & successfully executed

11

Suppose we want to generate a list of functions that will calculate powers of their argument, i.e. we want to define a bunch of functions

- fn_1(arg) --> arg ** 1
- fn_2(arg) --> arg ** 2
- fn_3(arg) --> arg ** 3 etc...

**Let us see how we can effectively use lambda functions here**

In [61]:
# This wont work
lst_fn = [lambda x : x**i for i in range(5)]

In [62]:
lst_fn[0](10), lst_fn[1](10), lst_fn[-1](10)  # We get same value. This is because 'i' takes last value it assumed ie. 4
# SO we get 10^4 = 10_000 in all cases

(10000, 10000, 10000)

In [63]:
# We need to use an intermediate variable as below to make it work
lst_fn = [lambda x, pow=i:x**pow for i in range(5)]

In [64]:
lst_fn[0](10), lst_fn[1](10), lst_fn[-1](10)

(1, 10, 10000)

***Iteration using 'next' method***

This eliminates the need for collection being indexable. It can work with any collection & can continue to give next element

In [65]:
# We can do as below. Example taken here is a class returning 'squares' of argument

class Squares:
    def __init__(self):
        self.i = 0
        
    def next_(self):
        result = self.i**2
        self.i += 1
        return result

In [67]:
sq = Squares()

In [70]:
sq.next_()

0

In [71]:
sq.next_()

1

In [72]:
sq.next_()

4

In [73]:
for i in range(10):
    print(sq.next_())

9
16
25
36
49
64
81
100
121
144

In [74]:
# But pblm with above way is like we cant stop it. Next time we call sq.next_() we will get 169 as below

In [75]:
sq.next_()

169

In [77]:
# So we need to control the calls as below
class Squares:
    def __init__(self, length):
        self.i = 0
        self.length = length
        
    def next_(self):
        if self.i <= self.length:
            result = self.i**2
            self.i += 1
            return result
        else:
            raise StopIteration
            
    def __len__(self):          # We are defining __len__ so that we can call len(obj-name) to retrieve length of the obj
        return self.length

In [95]:
sq = Squares(5)

In [96]:
len(sq)

5

In [97]:
for i in range(5):
    print(sq.next_())

0
1
4
9
16

In [98]:
sq.i

5

In [99]:
for i in range(1):
    print(sq.next_())

25

In [100]:
sq.length, sq.i

(5, 6)

In [101]:
for i in range(1):
    print(sq.next_())

StopIteration:

In [103]:
# Above approach still has pblm. Once exhausted it will start throwing error. We can resolve error by calling next as below

In [104]:
sq = Squares(5)
while True:
    try: 
        print(sq.next_())
    except StopIteration:
        break

0
1
4
9
16
25

In [111]:
# We can also use __next__ method for ease of calling as below
class Squares:
    def __init__(self, length):
        self.i = 0
        self.length = length
        
    def __next__(self):
        if self.i <= self.length:
            result = self.i**2
            self.i += 1
            return result
        else:
            raise StopIteration
            
    def __len__(self):          # We are defining __len__ so that we can call len(obj-name) to retrieve length of the obj
        return self.length

In [112]:
sq = Squares(5)
for i in range(3):
    print(next(sq))

0
1
4

In [113]:
#We need to make 'Squares' iterable. Currently it is NOT.
for i in Squares(10):
    print(i)

TypeError: 'Squares' object is not iterable

## Iterators

We already saw that we could approach iterating over a collection using this concept of **next**.

But there were some downsides that did not resolve (yet!):

- we cannot use a **for** loop
- once we **exhaust** the iteration (repeatedly calling next), we're essentially done with object. The only way to iterate through it again is to create a new instance of the object.

First we are going to look at making our **next** be usable in a **for** loop.

This idea of using __next__ and the StopIteration exception is exactly what Python does.

So, somehow we need to tell Python that the object we are dealing with can be used with **next**.

To do so, we create an **iterator type object**.

Iterators are objects that implement:

- a __next__ method
- an __iter__ method that simply returns the object itself

That's it - that's all there is to an iterator - two methods, __iter__ and __next__.

In [2]:
class Squares:
    def __init__(self, length):
        self.length = length
        self.i = 0 
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.i <= self.length:
            result = self.i**2
            self.i += 1
            return result
        else:
            raise StopIteration

In [5]:
# next will continue to work here
sq = Squares(5)
print(next(sq))
print(next(sq))
print(next(sq))

0
1
4

In [6]:
# But now we can use 'for' loop too
for i in Squares(6):
    print(i)

0
1
4
9
16
25
36

In [9]:
# But exhaustion pblm still exists, once exhausted to reuse we have to redefine again

sq = Squares(5)  # sq is an iterator

for i in sq:
    print(i)

0
1
4
9
16
25

In [10]:
for i in sq:   # We get nothing bcoz already exhausted
    print(sq)

In [11]:
id(sq)

2095119205088

In [13]:
id(sq.__iter__())

2095119205088

In [14]:
id(iter(sq))

2095119205088

In [18]:
# We can use list comprehension also on iterator objects

sq = Squares(5)

lst = [i for i in sq if i%2 == 0]
lst

[0, 4, 16]

***We can even use any function that requires an iterable as an argument (iterators are iterable):***

### But exhaustion problem is still there. Once we fully iterate over an iterator, the iterator is exhausted and we can no longer use it for iteration purposes.

In [20]:
sq = Squares(5)
list(enumerate(sq))

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [21]:
sq = Squares(5)
sorted(sq, reverse=True)

[25, 16, 9, 4, 1, 0]

**Let us see how iterator flow is happening**

In [22]:
class Squares:
    def __init__(self, length):
        print('init')
        self.length = length
        self.i = 0 
        
    def __iter__(self):
        print('calling squares iter')
        return self
    
    def __next__(self):
        if self.i <= self.length:
            print('calling next')
            result = self.i**2
            self.i += 1
            return result
        else:
            print('about to stop iteration')
            raise StopIteration

In [23]:
sq = Squares(5)

init

In [24]:
lst = [i for i in sq]

calling squares iter
calling next
calling next
calling next
calling next
calling next
calling next
about to stop iteration

***It first calls iter & then calls next till elements are exhausted***

#### Let us focus on below 2 items

- when we looped over the iterator using a **for** loop (or a comprehension, or other functions that do some form of iteration), we saw that the __iter__ was always called first. What is the relevance of calling **iter** first ?
- the iterator gets exhausted after we have finished iterating it fully - which means we have to create a new iterator every time we want to use a new iteration over the collection - can we somehow avoid having to remember to do that every time?

In [25]:
class Cities:
    def __init__(self):
        self._cities = ['Newyork', 'Delhi', 'Mumbai', 'LA']
        self._index  = 0
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self._index >= len(self._cities):
            raise StopIteration
        else:
            item = self._cities[self._index]
            self._index += 1
            return item

In [26]:
cities = Cities()
list(enumerate(cities))

[(0, 'Newyork'), (1, 'Delhi'), (2, 'Mumbai'), (3, 'LA')]

In [27]:
list(enumerate(cities)) # Exhausted

[]

In [28]:
# As a 1st step to resolve exhaustion problem, let us separate data from iteration part

In [29]:
class Cities:
    def __init__(self):
        self._cities = ['Newyork', 'Delhi', 'Mumbai', 'LA']
        self._index  = 0
        
    def __len__(self):
        return len(self._cities)

In [37]:
class CityIterator:
    def __init__(self, city_obj):
        # cities is an instance of Cities
        self._city_obj = city_obj
        self._index = 0
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self._index >= len(self._city_obj):
            raise StopIteration
        else:
            result = self._city_obj._cities[self._index]
            self._index += 1
            return result

In [38]:
# With this approach, we can create object only once & then call it several times via different iterators

In [39]:
cities = Cities()

In [40]:
cities

In [41]:
iter_1 = CityIterator(cities)

In [42]:
for city in iter_1:
    print(city)

Newyork
Delhi
Mumbai
LA

In [43]:
lst = [i for i in iter_1]    # Exhausted
lst

[]

In [44]:
iter_2 = CityIterator(cities) # So creating another iterator passing same object
lst = [i for i in iter_2]
lst

['Newyork', 'Delhi', 'Mumbai', 'LA']

In [45]:
# But we still have to create different iterator & also 'cities' is no-longer iterable as we separated 'iter' part

for city in cities:
    print(city)

TypeError: 'Cities' object is not iterable

In [60]:
# We can solve this by including 'iter' in Cities class also

class Cities:
    def __init__(self):
        self._cities = ['Newyork', 'Delhi', 'Mumbai', 'LA']
        self._index  = 0
        
    def __len__(self):
        return len(self._cities)
    
    def __iter__(self):
        print(' Calling Cities iter')
        return CityIterator(self)

In [61]:
class CityIterator:
    def __init__(self, city_obj):
        # cities is an instance of Cities
        self._city_obj = city_obj
        self._index = 0
        
    def __iter__(self):
        print('Calling CityIterator iter')
        return self
    
    def __next__(self):
        if self._index >= len(self._city_obj):
            print('About to stop iteration')
            raise StopIteration
        else:
            print('Calling Next')
            result = self._city_obj._cities[self._index]
            self._index += 1
            return result

***When we try to iterate over the Cities instance***, Python will first call __iter__. The __iter__ method should then return an iterator which Python will use for the iteration.
A new iterator was created when the 'for' loop started, thus avoiding exhaustion also.

In [62]:
cities = Cities()

In [63]:
lst = [i for i in cities]

 Calling Cities iter
Calling Next
Calling Next
Calling Next
Calling Next
About to stop iteration

In [64]:
lst = [i for i in cities]

 Calling Cities iter
Calling Next
Calling Next
Calling Next
Calling Next
About to stop iteration

In [65]:
list(enumerate(cities))

 Calling Cities iter
Calling Next
Calling Next
Calling Next
Calling Next
About to stop iteration

[(0, 'Newyork'), (1, 'Delhi'), (2, 'Mumbai'), (3, 'LA')]

In [73]:
# Let us make the code self-contained by including 'CityIterator' class inside 'Cities' class

class Cities:
    def __init__(self):
        self._cities = ['Newyork', 'Delhi', 'Mumbai', 'LA']
        self._index  = 0
        
    def __len__(self):
        return len(self._cities)
    
    def __iter__(self):
        return self.CityIterator(self)
    
    class CityIterator:
        def __init__(self, city_obj):
            # cities is an instance of Cities
            self._city_obj = city_obj
            self._index = 0
        
        def __iter__(self):
            return self
    
        def __next__(self):
            if self._index >= len(self._city_obj):
                raise StopIteration
            else:
                result = self._city_obj._cities[self._index]
                self._index += 1
                return result

In [74]:
cities = Cities()

In [75]:
for city in cities:
    print(city)

Newyork
Delhi
Mumbai
LA

In [82]:
# We can create separate iterator instances also which are exhaustible if we wish to use that feature somewhere
iter_1 = iter(cities)
iter_2 = iter(cities)
id(iter_1), id(iter_2)

(2095118042592, 2095118042160)

In [83]:
lst = [i for i in iter_1]
lst

['Newyork', 'Delhi', 'Mumbai', 'LA']

In [84]:
lst = [i for i in iter_1]
lst

[]

***Making a sequence from iterable***

In [86]:
cities[0]

TypeError: 'Cities' object is not subscriptable

In [90]:
# We can introduce __getitem__ to make it indexable

class Cities:
    def __init__(self):
        self._cities = ['Newyork', 'Delhi', 'Mumbai', 'LA']
        self._index  = 0
        
    def __len__(self):
        return len(self._cities)
    
    def __getitem__(self, s):
        return self._cities[s]
    
    def __iter__(self):
        return self.CityIterator(self)
    
    class CityIterator:
        def __init__(self, city_obj):
            # cities is an instance of Cities
            self._city_obj = city_obj
            self._index = 0
        
        def __iter__(self):
            return self
    
        def __next__(self):
            if self._index >= len(self._city_obj):
                raise StopIteration
            else:
                result = self._city_obj._cities[self._index]
                self._index += 1
                return result

In [91]:
cities = Cities()
cities[0]

'Newyork'

In [92]:
cities[-1]

'LA'

***How to use iter on list***

**the iter() function is used to request an iterator object from an iterable.**

In [94]:
lst = [1, 2, 3]

# Since lists are iterables, python implemented the __iter__ method and hence we can get an iterator for the list

iter_l = iter(lst)

In [95]:
next(iter_l)

1

In [96]:
next(iter_l)

2

In [97]:
next(iter_l)

3

In [98]:
next(iter_l)

StopIteration:

***using iter in range***

In [123]:
r_10 = range(10)
iter_10 = iter(r_10)

In [124]:
next(iter_10)

0

In [ ]:
next(iter_10)

### Consuming iterators manually - Usecase

In [102]:
with open(r"C:\Users\anila\Desktop\AI\EPAI-Phase1\S14_Iterables_Iterators\cars.csv", 'r') as file:
    for line in file:
        print(line)
    file.close()

Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin

STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;INT;CAT

Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US

Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US

Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US

AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US

Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US

Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US

Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US

Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US

Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US

AMC Ambassador DPL;15.0;8;390.0;190.0;3850.;8.5;70;US

Citroen DS-21 Pallas;0;4;133.0;115.0;3090.;17.5;70;Europe

Chevrolet Chevelle Concours (sw);0;8;350.0;165.0;4142.;11.5;70;US

Ford Torino (sw);0;8;351.0;153.0;4034.;11.0;70;US

Plymouth Satellite (sw);0;8;383.0;175.0;4166.;10.5;70;US

AMC Rebel SST (sw);0;8;360.0;175.0;3850.;11.0;70;US

Dodge Challenger SE;15.0;8;383.0;170.0;3563.;10.0;70;US

Plymouth 'Cuda 340;14.0;8;340.0;160.0;3609.;8.0;70;US

Ford Mustang Boss 302;0;8;302.0;140.0;3353.;8.0;70;US

Chevrolet Monte Carlo;15.0;8;400.0;150.0;3761.;9.5;70;US

Buick Estate Wagon (sw);14.0;8;455.0;225.0;3086.;10.0;70;US

Toyota Corolla Mark ii;24.0;4;113.0;95.00;2372.;15.0;70;Japan

Plymouth Duster;22.0;6;198.0;95.00;2833.;15.5;70;US

AMC Hornet;18.0;6;199.0;97.00;2774.;15.5;70;US

Ford Maverick;21.0;6;200.0;85.00;2587.;16.0;70;US

Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;70;Japan

Volkswagen 1131 Deluxe Sedan;26.0;4;97.00;46.00;1835.;20.5;70;Europe

Peugeot 504;25.0;4;110.0;87.00;2672.;17.5;70;Europe

Audi 100 LS;24.0;4;107.0;90.00;2430.;14.5;70;Europe

Saab 99e;25.0;4;104.0;95.00;2375.;17.5;70;Europe

BMW 2002;26.0;4;121.0;113.0;2234.;12.5;70;Europe

AMC Gremlin;21.0;6;199.0;90.00;2648.;15.0;70;US

Ford F250;10.0;8;360.0;215.0;4615.;14.0;70;US

Chevy C20;10.0;8;307.0;200.0;4376.;15.0;70;US

Dodge D200;11.0;8;318.0;210.0;4382.;13.5;70;US

Hi 1200D;9.0;8;304.0;193.0;4732.;18.5;70;US

Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;71;Japan

Chevrolet Vega 2300;28.0;4;140.0;90.00;2264.;15.5;71;US

Toyota Corolla;25.0;4;113.0;95.00;2228.;14.0;71;Japan

Ford Pinto;25.0;4;98.00;0;2046.;19.0;71;US

Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe

AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US

Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US

Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US

Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US

AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US

Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US

Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US

Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US

Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US

Dodge Monaco (sw);12.0;8;383.0;180.0;4955.;11.5;71;US

Ford Country Squire (sw);13.0;8;400.0;170.0;4746.;12.0;71;US

Pontiac Safari (sw);13.0;8;400.0;175.0;5140.;12.0;71;US

AMC Hornet Sportabout (sw);18.0;6;258.0;110.0;2962.;13.5;71;US

Chevrolet Vega (sw);22.0;4;140.0;72.00;2408.;19.0;71;US

Pontiac Firebird;19.0;6;250.0;100.0;3282.;15.0;71;US

Ford Mustang;18.0;6;250.0;88.00;3139.;14.5;71;US

Mercury Capri 2000;23.0;4;122.0;86.00;2220.;14.0;71;US

Opel 1900;28.0;4;116.0;90.00;2123.;14.0;71;Europe

Peugeot 304;30.0;4;79.00;70.00;2074.;19.5;71;Europe

Fiat 124B;30.0;4;88.00;76.00;2065.;14.5;71;Europe

Toyota Corolla 1200;31.0;4;71.00;65.00;1773.;19.0;71;Japan

Datsun 1200;35.0;4;72.00;69.00;1613.;18.0;71;Japan

Volkswagen Model 111;27.0;4;97.00;60.00;1834.;19.0;71;Europe

Plymouth Cricket;26.0;4;91.00;70.00;1955.;20.5;71;US

Toyota Corolla Hardtop;24.0;4;113.0;95.00;2278.;15.5;72;Japan

Dodge Colt Hardtop;25.0;4;97.50;80.00;2126.;17.0;72;US

Volkswagen Type 3;23.0;4;97.00;54.00;2254.;23.5;72;Europe

Chevrolet Vega;20.0;4;140.0;90.00;2408.;19.5;72;US

Ford Pinto Runabout;21.0;4;122.0;86.00;2226.;16.5;72;US

Chevrolet Impala;13.0;8;350.0;165.0;4274.;12.0;72;US

Pontiac Catalina;14.0;8;400.0;175.0;4385.;12.0;72;US

Plymouth Fury III;15.0;8;318.0;150.0;4135.;13.5;72;US

Ford Galaxie 500;14.0;8;351.0;153.0;4129.;13.0;72;US

AMC Ambassador SST;17.0;8;304.0;150.0;3672.;11.5;72;US

Mercury Marquis;11.0;8;429.0;208.0;4633.;11.0;72;US

Buick LeSabre Custom;13.0;8;350.0;155.0;4502.;13.5;72;US

Oldsmobile Delta 88 Royale;12.0;8;350.0;160.0;4456.;13.5;72;US

Chrysler Newport Royal;13.0;8;400.0;190.0;4422.;12.5;72;US

Mazda RX2 Coupe;19.0;3;70.00;97.00;2330.;13.5;72;Japan

AMC Matador (sw);15.0;8;304.0;150.0;3892.;12.5;72;US

Chevrolet Chevelle Concours (sw);13.0;8;307.0;130.0;4098.;14.0;72;US

Ford Gran Torino (sw);13.0;8;302.0;140.0;4294.;16.0;72;US

Plymouth Satellite Custom (sw);14.0;8;318.0;150.0;4077.;14.0;72;US

Volvo 145e (sw);18.0;4;121.0;112.0;2933.;14.5;72;Europe

Volkswagen 411 (sw);22.0;4;121.0;76.00;2511.;18.0;72;Europe

Peugeot 504 (sw);21.0;4;120.0;87.00;2979.;19.5;72;Europe

Renault 12 (sw);26.0;4;96.00;69.00;2189.;18.0;72;Europe

Ford Pinto (sw);22.0;4;122.0;86.00;2395.;16.0;72;US

Datsun 510 (sw);28.0;4;97.00;92.00;2288.;17.0;72;Japan

Toyota Corolla Mark II (sw);23.0;4;120.0;97.00;2506.;14.5;72;Japan

Dodge Colt (sw);28.0;4;98.00;80.00;2164.;15.0;72;US

Toyota Corolla 1600 (sw);27.0;4;97.00;88.00;2100.;16.5;72;Japan

Buick Century 350;13.0;8;350.0;175.0;4100.;13.0;73;US

AMC Matador;14.0;8;304.0;150.0;3672.;11.5;73;US

Chevrolet Malibu;13.0;8;350.0;145.0;3988.;13.0;73;US

Ford Gran Torino;14.0;8;302.0;137.0;4042.;14.5;73;US

Dodge Coronet Custom;15.0;8;318.0;150.0;3777.;12.5;73;US

Mercury Marquis Brougham;12.0;8;429.0;198.0;4952.;11.5;73;US

Chevrolet Caprice Classic;13.0;8;400.0;150.0;4464.;12.0;73;US

Ford LTD;13.0;8;351.0;158.0;4363.;13.0;73;US

Plymouth Fury Gran Sedan;14.0;8;318.0;150.0;4237.;14.5;73;US

Chrysler New Yorker Brougham;13.0;8;440.0;215.0;4735.;11.0;73;US

Buick Electra 225 Custom;12.0;8;455.0;225.0;4951.;11.0;73;US

AMC Ambassador Brougham;13.0;8;360.0;175.0;3821.;11.0;73;US

Plymouth Valiant;18.0;6;225.0;105.0;3121.;16.5;73;US

Chevrolet Nova Custom;16.0;6;250.0;100.0;3278.;18.0;73;US

AMC Hornet;18.0;6;232.0;100.0;2945.;16.0;73;US

Ford Maverick;18.0;6;250.0;88.00;3021.;16.5;73;US

Plymouth Duster;23.0;6;198.0;95.00;2904.;16.0;73;US

Volkswagen Super Beetle;26.0;4;97.00;46.00;1950.;21.0;73;Europe

Chevrolet Impala;11.0;8;400.0;150.0;4997.;14.0;73;US

Ford Country;12.0;8;400.0;167.0;4906.;12.5;73;US

Plymouth Custom Suburb;13.0;8;360.0;170.0;4654.;13.0;73;US

Oldsmobile Vista Cruiser;12.0;8;350.0;180.0;4499.;12.5;73;US

AMC Gremlin;18.0;6;232.0;100.0;2789.;15.0;73;US

Toyota Camry;20.0;4;97.00;88.00;2279.;19.0;73;Japan

Chevrolet Vega;21.0;4;140.0;72.00;2401.;19.5;73;US

Datsun 610;22.0;4;108.0;94.00;2379.;16.5;73;Japan

Mazda RX3;18.0;3;70.00;90.00;2124.;13.5;73;Japan

Ford Pinto;19.0;4;122.0;85.00;2310.;18.5;73;US

Mercury Capri v6;21.0;6;155.0;107.0;2472.;14.0;73;US

Fiat 124 Sport Coupe;26.0;4;98.00;90.00;2265.;15.5;73;Europe

Chevrolet Monte Carlo S;15.0;8;350.0;145.0;4082.;13.0;73;US

Pontiac Grand Prix;16.0;8;400.0;230.0;4278.;9.50;73;US

Fiat 128;29.0;4;68.00;49.00;1867.;19.5;73;Europe

Opel Manta;24.0;4;116.0;75.00;2158.;15.5;73;Europe

Audi 100LS;20.0;4;114.0;91.00;2582.;14.0;73;Europe

Volvo 144ea;19.0;4;121.0;112.0;2868.;15.5;73;Europe

Dodge Dart Custom;15.0;8;318.0;150.0;3399.;11.0;73;US

Saab 99le;24.0;4;121.0;110.0;2660.;14.0;73;Europe

Toyota Mark II;20.0;6;156.0;122.0;2807.;13.5;73;Japan

Oldsmobile Omega;11.0;8;350.0;180.0;3664.;11.0;73;US

Plymouth Duster;20.0;6;198.0;95.00;3102.;16.5;74;US

Ford Maverick;21.0;6;200.0;0;2875.;17.0;74;US

AMC Hornet;19.0;6;232.0;100.0;2901.;16.0;74;US

Chevrolet Nova;15.0;6;250.0;100.0;3336.;17.0;74;US

Datsun B210;31.0;4;79.00;67.00;1950.;19.0;74;Japan

Ford Pinto;26.0;4;122.0;80.00;2451.;16.5;74;US

Toyota Corolla 1200;32.0;4;71.00;65.00;1836.;21.0;74;Japan

Chevrolet Vega;25.0;4;140.0;75.00;2542.;17.0;74;US

Chevrolet Chevelle Malibu Classic;16.0;6;250.0;100.0;3781.;17.0;74;US

AMC Matador;16.0;6;258.0;110.0;3632.;18.0;74;US

Plymouth Satellite Sebring;18.0;6;225.0;105.0;3613.;16.5;74;US

Ford Gran Torino;16.0;8;302.0;140.0;4141.;14.0;74;US

Buick Century Luxus (sw);13.0;8;350.0;150.0;4699.;14.5;74;US

Dodge Coronet Custom (sw);14.0;8;318.0;150.0;4457.;13.5;74;US

Ford Gran Torino (sw);14.0;8;302.0;140.0;4638.;16.0;74;US

AMC Matador (sw);14.0;8;304.0;150.0;4257.;15.5;74;US

Audi Fox;29.0;4;98.00;83.00;2219.;16.5;74;Europe

Volkswagen Dasher;26.0;4;79.00;67.00;1963.;15.5;74;Europe

Opel Manta;26.0;4;97.00;78.00;2300.;14.5;74;Europe

Toyota Corolla;31.0;4;76.00;52.00;1649.;16.5;74;Japan

Datsun 710;32.0;4;83.00;61.00;2003.;19.0;74;Japan

Dodge Colt;28.0;4;90.00;75.00;2125.;14.5;74;US

Fiat 128;24.0;4;90.00;75.00;2108.;15.5;74;Europe

Fiat 124 TC;26.0;4;116.0;75.00;2246.;14.0;74;Europe

Honda Civic;24.0;4;120.0;97.00;2489.;15.0;74;Japan

Subaru;26.0;4;108.0;93.00;2391.;15.5;74;Japan

Fiat x1.9;31.0;4;79.00;67.00;2000.;16.0;74;Europe

Plymouth Valiant Custom;19.0;6;225.0;95.00;3264.;16.0;75;US

Chevrolet Nova;18.0;6;250.0;105.0;3459.;16.0;75;US

Mercury Monarch;15.0;6;250.0;72.00;3432.;21.0;75;US

Ford Maverick;15.0;6;250.0;72.00;3158.;19.5;75;US

Pontiac Catalina;16.0;8;400.0;170.0;4668.;11.5;75;US

Chevrolet Bel Air;15.0;8;350.0;145.0;4440.;14.0;75;US

Plymouth Grand Fury;16.0;8;318.0;150.0;4498.;14.5;75;US

Ford LTD;14.0;8;351.0;148.0;4657.;13.5;75;US

Buick Century;17.0;6;231.0;110.0;3907.;21.0;75;US

Chevrolete Chevelle Malibu;16.0;6;250.0;105.0;3897.;18.5;75;US

AMC Matador;15.0;6;258.0;110.0;3730.;19.0;75;US

Plymouth Fury;18.0;6;225.0;95.00;3785.;19.0;75;US

Buick Skyhawk;21.0;6;231.0;110.0;3039.;15.0;75;US

Chevrolet Monza 2+2;20.0;8;262.0;110.0;3221.;13.5;75;US

Ford Mustang II;13.0;8;302.0;129.0;3169.;12.0;75;US

Toyota Corolla;29.0;4;97.00;75.00;2171.;16.0;75;Japan

Ford Pinto;23.0;4;140.0;83.00;2639.;17.0;75;US

AMC Gremlin;20.0;6;232.0;100.0;2914.;16.0;75;US

Pontiac Astro;23.0;4;140.0;78.00;2592.;18.5;75;US

Toyota Corolla;24.0;4;134.0;96.00;2702.;13.5;75;Japan

Volkswagen Dasher;25.0;4;90.00;71.00;2223.;16.5;75;Europe

Datsun 710;24.0;4;119.0;97.00;2545.;17.0;75;Japan

Ford Pinto;18.0;6;171.0;97.00;2984.;14.5;75;US

Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.0;75;Europe

AMC Pacer;19.0;6;232.0;90.00;3211.;17.0;75;US

Audi 100LS;23.0;4;115.0;95.00;2694.;15.0;75;Europe

Peugeot 504;23.0;4;120.0;88.00;2957.;17.0;75;Europe

Volvo 244DL;22.0;4;121.0;98.00;2945.;14.5;75;Europe

Saab 99LE;25.0;4;121.0;115.0;2671.;13.5;75;Europe

Honda Civic CVCC;33.0;4;91.00;53.00;1795.;17.5;75;Japan

Fiat 131;28.0;4;107.0;86.00;2464.;15.5;76;Europe

Opel 1900;25.0;4;116.0;81.00;2220.;16.9;76;Europe

Capri ii;25.0;4;140.0;92.00;2572.;14.9;76;US

Dodge Colt;26.0;4;98.00;79.00;2255.;17.7;76;US

Renault 12tl;27.0;4;101.0;83.00;2202.;15.3;76;Europe

Chevrolet Chevelle Malibu Classic;17.5;8;305.0;140.0;4215.;13.0;76;US

Dodge Coronet Brougham;16.0;8;318.0;150.0;4190.;13.0;76;US

AMC Matador;15.5;8;304.0;120.0;3962.;13.9;76;US

Ford Gran Torino;14.5;8;351.0;152.0;4215.;12.8;76;US

Plymouth Valiant;22.0;6;225.0;100.0;3233.;15.4;76;US

Chevrolet Nova;22.0;6;250.0;105.0;3353.;14.5;76;US

Ford Maverick;24.0;6;200.0;81.00;3012.;17.6;76;US

AMC Hornet;22.5;6;232.0;90.00;3085.;17.6;76;US

Chevrolet Chevette;29.0;4;85.00;52.00;2035.;22.2;76;US

Chevrolet Woody;24.5;4;98.00;60.00;2164.;22.1;76;US

Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.2;76;Europe

Honda Civic;33.0;4;91.00;53.00;1795.;17.4;76;Japan

Dodge Aspen SE;20.0;6;225.0;100.0;3651.;17.7;76;US

Ford Grenada ghia;18.0;6;250.0;78.00;3574.;21.0;76;US

Pontiac Ventura SJ;18.5;6;250.0;110.0;3645.;16.2;76;US

AMC Pacer d/l;17.5;6;258.0;95.00;3193.;17.8;76;US

Volkswagen Rabbit;29.5;4;97.00;71.00;1825.;12.2;76;Europe

Datsun B-210;32.0;4;85.00;70.00;1990.;17.0;76;Japan

Toyota Corolla;28.0;4;97.00;75.00;2155.;16.4;76;Japan

Ford Pinto;26.5;4;140.0;72.00;2565.;13.6;76;US

Volvo 245;20.0;4;130.0;102.0;3150.;15.7;76;Europe

Plymouth Volare Premier v8;13.0;8;318.0;150.0;3940.;13.2;76;US

Peugeot 504;19.0;4;120.0;88.00;3270.;21.9;76;Europe

Toyota Mark II;19.0;6;156.0;108.0;2930.;15.5;76;Japan

Mercedes-Benz 280s;16.5;6;168.0;120.0;3820.;16.7;76;Europe

Cadillac Seville;16.5;8;350.0;180.0;4380.;12.1;76;US

Chevrolet C10;13.0;8;350.0;145.0;4055.;12.0;76;US

Ford F108;13.0;8;302.0;130.0;3870.;15.0;76;US

Dodge D100;13.0;8;318.0;150.0;3755.;14.0;76;US

Honda Accord CVCC;31.5;4;98.00;68.00;2045.;18.5;77;Japan

Buick Opel Isuzu Deluxe;30.0;4;111.0;80.00;2155.;14.8;77;US

Renault 5 GTL;36.0;4;79.00;58.00;1825.;18.6;77;Europe

Plymouth Arrow GS;25.5;4;122.0;96.00;2300.;15.5;77;US

Datsun F-10 Hatchback;33.5;4;85.00;70.00;1945.;16.8;77;Japan

Chevrolet Caprice Classic;17.5;8;305.0;145.0;3880.;12.5;77;US

Oldsmobile Cutlass Supreme;17.0;8;260.0;110.0;4060.;19.0;77;US

Dodge Monaco Brougham;15.5;8;318.0;145.0;4140.;13.7;77;US

Mercury Cougar Brougham;15.0;8;302.0;130.0;4295.;14.9;77;US

Chevrolet Concours;17.5;6;250.0;110.0;3520.;16.4;77;US

Buick Skylark;20.5;6;231.0;105.0;3425.;16.9;77;US

Plymouth Volare Custom;19.0;6;225.0;100.0;3630.;17.7;77;US

Ford Grenada;18.5;6;250.0;98.00;3525.;19.0;77;US

Pontiac Grand Prix LJ;16.0;8;400.0;180.0;4220.;11.1;77;US

Chevrolet Monte Carlo Landau;15.5;8;350.0;170.0;4165.;11.4;77;US

Chrysler Cordoba;15.5;8;400.0;190.0;4325.;12.2;77;US

Ford Thunderbird;16.0;8;351.0;149.0;4335.;14.5;77;US

Volkswagen Rabbit Custom;29.0;4;97.00;78.00;1940.;14.5;77;Europe

Pontiac Sunbird Coupe;24.5;4;151.0;88.00;2740.;16.0;77;US

Toyota Corolla Liftback;26.0;4;97.00;75.00;2265.;18.2;77;Japan

Ford Mustang II 2+2;25.5;4;140.0;89.00;2755.;15.8;77;US

Chevrolet Chevette;30.5;4;98.00;63.00;2051.;17.0;77;US

Dodge Colt m/m;33.5;4;98.00;83.00;2075.;15.9;77;US

Subaru DL;30.0;4;97.00;67.00;1985.;16.4;77;Japan

Volkswagen Dasher;30.5;4;97.00;78.00;2190.;14.1;77;Europe

Datsun 810;22.0;6;146.0;97.00;2815.;14.5;77;Japan

BMW 320i;21.5;4;121.0;110.0;2600.;12.8;77;Europe

Mazda RX-4;21.5;3;80.00;110.0;2720.;13.5;77;Japan

Volkswagen Rabbit Custom Diesel;43.1;4;90.00;48.00;1985.;21.5;78;Europe

Ford Fiesta;36.1;4;98.00;66.00;1800.;14.4;78;US

Mazda GLC Deluxe;32.8;4;78.00;52.00;1985.;19.4;78;Japan

Datsun B210 GX;39.4;4;85.00;70.00;2070.;18.6;78;Japan

Honda Civic CVCC;36.1;4;91.00;60.00;1800.;16.4;78;Japan

Oldsmobile Cutlass Salon Brougham;19.9;8;260.0;110.0;3365.;15.5;78;US

Dodge Diplomat;19.4;8;318.0;140.0;3735.;13.2;78;US

Mercury Monarch ghia;20.2;8;302.0;139.0;3570.;12.8;78;US

Pontiac Phoenix LJ;19.2;6;231.0;105.0;3535.;19.2;78;US

Chevrolet Malibu;20.5;6;200.0;95.00;3155.;18.2;78;US

Ford Fairmont (auto);20.2;6;200.0;85.00;2965.;15.8;78;US

Ford Fairmont (man);25.1;4;140.0;88.00;2720.;15.4;78;US

Plymouth Volare;20.5;6;225.0;100.0;3430.;17.2;78;US

AMC Concord;19.4;6;232.0;90.00;3210.;17.2;78;US

Buick Century Special;20.6;6;231.0;105.0;3380.;15.8;78;US

Mercury Zephyr;20.8;6;200.0;85.00;3070.;16.7;78;US

Dodge Aspen;18.6;6;225.0;110.0;3620.;18.7;78;US

AMC Concord d/l;18.1;6;258.0;120.0;3410.;15.1;78;US

Chevrolet Monte Carlo Landau;19.2;8;305.0;145.0;3425.;13.2;78;US

Buick Regal Sport Coupe (turbo);17.7;6;231.0;165.0;3445.;13.4;78;US

Ford Futura;18.1;8;302.0;139.0;3205.;11.2;78;US

Dodge Magnum XE;17.5;8;318.0;140.0;4080.;13.7;78;US

Chevrolet Chevette;30.0;4;98.00;68.00;2155.;16.5;78;US

Toyota Corolla;27.5;4;134.0;95.00;2560.;14.2;78;Japan

Datsun 510;27.2;4;119.0;97.00;2300.;14.7;78;Japan

Dodge Omni;30.9;4;105.0;75.00;2230.;14.5;78;US

Toyota Celica GT Liftback;21.1;4;134.0;95.00;2515.;14.8;78;Japan

Plymouth Sapporo;23.2;4;156.0;105.0;2745.;16.7;78;US

Oldsmobile Starfire SX;23.8;4;151.0;85.00;2855.;17.6;78;US

Datsun 200-SX;23.9;4;119.0;97.00;2405.;14.9;78;Japan

Audi 5000;20.3;5;131.0;103.0;2830.;15.9;78;Europe

Volvo 264gl;17.0;6;163.0;125.0;3140.;13.6;78;Europe

Saab 99gle;21.6;4;121.0;115.0;2795.;15.7;78;Europe

Peugeot 604sl;16.2;6;163.0;133.0;3410.;15.8;78;Europe

Volkswagen Scirocco;31.5;4;89.00;71.00;1990.;14.9;78;Europe

Honda Accord LX;29.5;4;98.00;68.00;2135.;16.6;78;Japan

Pontiac Lemans V6;21.5;6;231.0;115.0;3245.;15.4;79;US

Mercury Zephyr 6;19.8;6;200.0;85.00;2990.;18.2;79;US

Ford Fairmont 4;22.3;4;140.0;88.00;2890.;17.3;79;US

AMC Concord DL 6;20.2;6;232.0;90.00;3265.;18.2;79;US

Dodge Aspen 6;20.6;6;225.0;110.0;3360.;16.6;79;US

Chevrolet Caprice Classic;17.0;8;305.0;130.0;3840.;15.4;79;US

Ford LTD Landau;17.6;8;302.0;129.0;3725.;13.4;79;US

Mercury Grand Marquis;16.5;8;351.0;138.0;3955.;13.2;79;US

Dodge St. Regis;18.2;8;318.0;135.0;3830.;15.2;79;US

Buick Estate Wagon (sw);16.9;8;350.0;155.0;4360.;14.9;79;US

Ford Country Squire (sw);15.5;8;351.0;142.0;4054.;14.3;79;US

Chevrolet Malibu Classic (sw);19.2;8;267.0;125.0;3605.;15.0;79;US

Chrysler Lebaron Town @ Country (sw);18.5;8;360.0;150.0;3940.;13.0;79;US

Volkswagen Rabbit Custom;31.9;4;89.00;71.00;1925.;14.0;79;Europe

Mazda GLC Deluxe;34.1;4;86.00;65.00;1975.;15.2;79;Japan

Dodge Colt Hatchback Custom;35.7;4;98.00;80.00;1915.;14.4;79;US

AMC Spirit DL;27.4;4;121.0;80.00;2670.;15.0;79;US

Mercedes Benz 300d;25.4;5;183.0;77.00;3530.;20.1;79;Europe

Cadillac Eldorado;23.0;8;350.0;125.0;3900.;17.4;79;US

Peugeot 504;27.2;4;141.0;71.00;3190.;24.8;79;Europe

Oldsmobile Cutlass Salon Brougham;23.9;8;260.0;90.00;3420.;22.2;79;US

Plymouth Horizon;34.2;4;105.0;70.00;2200.;13.2;79;US

Plymouth Horizon TC3;34.5;4;105.0;70.00;2150.;14.9;79;US

Datsun 210;31.8;4;85.00;65.00;2020.;19.2;79;Japan

Fiat Strada Custom;37.3;4;91.00;69.00;2130.;14.7;79;Europe

Buick Skylark Limited;28.4;4;151.0;90.00;2670.;16.0;79;US

Chevrolet Citation;28.8;6;173.0;115.0;2595.;11.3;79;US

Oldsmobile Omega Brougham;26.8;6;173.0;115.0;2700.;12.9;79;US

Pontiac Phoenix;33.5;4;151.0;90.00;2556.;13.2;79;US

Volkswagen Rabbit;41.5;4;98.00;76.00;2144.;14.7;80;Europe

Toyota Corolla Tercel;38.1;4;89.00;60.00;1968.;18.8;80;Japan

Chevrolet Chevette;32.1;4;98.00;70.00;2120.;15.5;80;US

Datsun 310;37.2;4;86.00;65.00;2019.;16.4;80;Japan

Chevrolet Citation;28.0;4;151.0;90.00;2678.;16.5;80;US

Ford Fairmont;26.4;4;140.0;88.00;2870.;18.1;80;US

AMC Concord;24.3;4;151.0;90.00;3003.;20.1;80;US

Dodge Aspen;19.1;6;225.0;90.00;3381.;18.7;80;US

Audi 4000;34.3;4;97.00;78.00;2188.;15.8;80;Europe

Toyota Corolla Liftback;29.8;4;134.0;90.00;2711.;15.5;80;Japan

Mazda 626;31.3;4;120.0;75.00;2542.;17.5;80;Japan

Datsun 510 Hatchback;37.0;4;119.0;92.00;2434.;15.0;80;Japan

Toyota Corolla;32.2;4;108.0;75.00;2265.;15.2;80;Japan

Mazda GLC;46.6;4;86.00;65.00;2110.;17.9;80;Japan

Dodge Colt;27.9;4;156.0;105.0;2800.;14.4;80;US

Datsun 210;40.8;4;85.00;65.00;2110.;19.2;80;Japan

Volkswagen Rabbit C (Diesel);44.3;4;90.00;48.00;2085.;21.7;80;Europe

Volkswagen Dasher (diesel);43.4;4;90.00;48.00;2335.;23.7;80;Europe

Audi 5000s (diesel);36.4;5;121.0;67.00;2950.;19.9;80;Europe

Mercedes-Benz 240d;30.0;4;146.0;67.00;3250.;21.8;80;Europe

Honda Civic 1500 gl;44.6;4;91.00;67.00;1850.;13.8;80;Japan

Renault Lecar Deluxe;40.9;4;85.00;0;1835.;17.3;80;Europe

Subaru DL;33.8;4;97.00;67.00;2145.;18.0;80;Japan

Volkswagen Rabbit;29.8;4;89.00;62.00;1845.;15.3;80;Europe

Datsun 280-ZX;32.7;6;168.0;132.0;2910.;11.4;80;Japan

Mazda RX-7 GS;23.7;3;70.00;100.0;2420.;12.5;80;Japan

Triumph TR7 Coupe;35.0;4;122.0;88.00;2500.;15.1;80;Europe

Ford Mustang Cobra;23.6;4;140.0;0;2905.;14.3;80;US

Honda Accord;32.4;4;107.0;72.00;2290.;17.0;80;Japan

Plymouth Reliant;27.2;4;135.0;84.00;2490.;15.7;81;US

Buick Skylark;26.6;4;151.0;84.00;2635.;16.4;81;US

Dodge Aries Wagon (sw);25.8;4;156.0;92.00;2620.;14.4;81;US

Chevrolet Citation;23.5;6;173.0;110.0;2725.;12.6;81;US

Plymouth Reliant;30.0;4;135.0;84.00;2385.;12.9;81;US

Toyota Starlet;39.1;4;79.00;58.00;1755.;16.9;81;Japan

Plymouth Champ;39.0;4;86.00;64.00;1875.;16.4;81;US

Honda Civic 1300;35.1;4;81.00;60.00;1760.;16.1;81;Japan

Subaru;32.3;4;97.00;67.00;2065.;17.8;81;Japan

Datsun 210 MPG;37.0;4;85.00;65.00;1975.;19.4;81;Japan

Toyota Tercel;37.7;4;89.00;62.00;2050.;17.3;81;Japan

Mazda GLC 4;34.1;4;91.00;68.00;1985.;16.0;81;Japan

Plymouth Horizon 4;34.7;4;105.0;63.00;2215.;14.9;81;US


File layout is as below:
    
As we can see, the values are delimited by ; and the first two lines consist of the column names, and column types.

The reason for the spacing between each line is that each line ends with a newline, and our print statement also emits a newline by default. So we'll have to strip those out.

**So here's what we want to do:**

- read the first line to get the column headers and create a named tuple class
- read data types from second line and store this so we can cast the strings we are reading to the correct data type
- read the data rows and parse them into a named tuple

In [2]:
cars_file_path = r"C:\Users\anila\Desktop\AI\EPAI-Phase1\S14_Iterables_Iterators\cars.csv"

In [106]:
# Conventional way 

with open(cars_file_path, 'r') as file:
    row_index = 0
    for line in file:
        if row_index == 0:
            # Header
            # Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin
            header = line.strip('\n').split(';')      # This will give a list
            print(header)
        elif row_index == 1:
            # Data-type
            # STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;INT;CAT
            data_type = line.strip('\n').split(';')
            print(data_type)
        else:
            data = line.strip('\n').split(';')
            if row_index < 6:
                print(data)
        row_index += 1    
    file.close()

['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model', 'Origin']
['STRING', 'DOUBLE', 'INT', 'DOUBLE', 'DOUBLE', 'DOUBLE', 'DOUBLE', 'INT', 'CAT']
['Chevrolet Chevelle Malibu', '18.0', '8', '307.0', '130.0', '3504.', '12.0', '70', 'US']
['Buick Skylark 320', '15.0', '8', '350.0', '165.0', '3693.', '11.5', '70', 'US']
['Plymouth Satellite', '18.0', '8', '318.0', '150.0', '3436.', '11.0', '70', 'US']
['AMC Rebel SST', '16.0', '8', '304.0', '150.0', '3433.', '12.0', '70', 'US']

In [3]:
# Using namedtuple

from collections import namedtuple

with open(cars_file_path, 'r') as file:
    row_index = 0
    cars = []
    for line in file:
        if row_index == 0:
            header = line.strip('\n').split(';') 
            Cars = namedtuple('Cars', header)
        elif row_index == 1:
            data_type= line.strip('\n').split(';')
            print(data_type)
        else:
            data = line.strip('\n').split(';')
            car = Cars(*data)
            cars.append(car)
            if row_index < 5:
                print(cars)
        row_index += 1
    file.close()

['STRING', 'DOUBLE', 'INT', 'DOUBLE', 'DOUBLE', 'DOUBLE', 'DOUBLE', 'INT', 'CAT']
[Cars(Car='Chevrolet Chevelle Malibu', MPG='18.0', Cylinders='8', Displacement='307.0', Horsepower='130.0', Weight='3504.', Acceleration='12.0', Model='70', Origin='US')]
[Cars(Car='Chevrolet Chevelle Malibu', MPG='18.0', Cylinders='8', Displacement='307.0', Horsepower='130.0', Weight='3504.', Acceleration='12.0', Model='70', Origin='US'), Cars(Car='Buick Skylark 320', MPG='15.0', Cylinders='8', Displacement='350.0', Horsepower='165.0', Weight='3693.', Acceleration='11.5', Model='70', Origin='US')]
[Cars(Car='Chevrolet Chevelle Malibu', MPG='18.0', Cylinders='8', Displacement='307.0', Horsepower='130.0', Weight='3504.', Acceleration='12.0', Model='70', Origin='US'), Cars(Car='Buick Skylark 320', MPG='15.0', Cylinders='8', Displacement='350.0', Horsepower='165.0', Weight='3693.', Acceleration='11.5', Model='70', Origin='US'), Cars(Car='Plymouth Satellite', MPG='18.0', Cylinders='8', Displacement='318.0', Horsepower='150.0', Weight='3436.', Acceleration='11.0', Model='70', Origin='US')]

We still need to parse the data into strings, integers, floats...Currently everything is string

eg: 'DOUBLE' is represented as string as shown below

We need cast to a data type based on the data type string:

- STRING --> str
- DOUBLE --> float
- INT --> int
- CAT --> str

In [4]:
data_type = ['STRING', 'DOUBLE', 'INT', 'DOUBLE', 'DOUBLE', 'DOUBLE', 'DOUBLE', 'INT', 'CAT']
data_row  = ['Chevrolet Chevelle Malibu', '18.0', '8', '307.0', '130.0', '3504.', '12.0', '70', 'US']

In [5]:
# We need something like this

def cast(type_, data):
    if type_ == 'DOUBLE':
        return float(data)
    elif type_ == 'INT':
        return int(data)
    else:
        return str(data)

In [6]:
# Let us use zip and list comprehensions to convert a row of data using 'cast'

[cast(type_, data) for type_, data in list(zip(data_type, data_row))]

['Chevrolet Chevelle Malibu', 18.0, 8, 307.0, 130.0, 3504.0, 12.0, 70, 'US']

In [7]:
# Let us write this as a function
def cast_row(data_tye, data_row):
    return [cast(type_, data) 
            for type_, data in list(zip(data_type, data_row))]

In [10]:
# Let us integrate whatever enhancements we made to our namedtuple logic

with open(cars_file_path, 'r') as file:
    row_index = 0
    cars = []
    for line in file:
        if row_index == 0:
            header = line.strip('\n').split(';') 
            Cars = namedtuple('Cars', header)
        elif row_index == 1:
            data_type= line.strip('\n').split(';')
            print(data_type)
        else:
            data = line.strip('\n').split(';')
            data = cast_row(data_type, data)
            car = Cars(*data)
            cars.append(car)
            if row_index < 5:
                print(cars)
        row_index += 1
    file.close()

['STRING', 'DOUBLE', 'INT', 'DOUBLE', 'DOUBLE', 'DOUBLE', 'DOUBLE', 'INT', 'CAT']
[Cars(Car='Chevrolet Chevelle Malibu', MPG=18.0, Cylinders=8, Displacement=307.0, Horsepower=130.0, Weight=3504.0, Acceleration=12.0, Model=70, Origin='US')]
[Cars(Car='Chevrolet Chevelle Malibu', MPG=18.0, Cylinders=8, Displacement=307.0, Horsepower=130.0, Weight=3504.0, Acceleration=12.0, Model=70, Origin='US'), Cars(Car='Buick Skylark 320', MPG=15.0, Cylinders=8, Displacement=350.0, Horsepower=165.0, Weight=3693.0, Acceleration=11.5, Model=70, Origin='US')]
[Cars(Car='Chevrolet Chevelle Malibu', MPG=18.0, Cylinders=8, Displacement=307.0, Horsepower=130.0, Weight=3504.0, Acceleration=12.0, Model=70, Origin='US'), Cars(Car='Buick Skylark 320', MPG=15.0, Cylinders=8, Displacement=350.0, Horsepower=165.0, Weight=3693.0, Acceleration=11.5, Model=70, Origin='US'), Cars(Car='Plymouth Satellite', MPG=18.0, Cylinders=8, Displacement=318.0, Horsepower=150.0, Weight=3436.0, Acceleration=11.0, Model=70, Origin='US')]

In [12]:
# Now let us further clean-up using iterators here

with open(cars_file_path, 'r') as file:
    cars = []
    file_iter = iter(file)
    header = next(file_iter).strip('\n').split(';') 
    Cars = namedtuple('Cars', header)
    data_type= next(file_iter).strip('\n').split(';')
    for line in file:        
        data = cast_row(data_type, line.strip('\n').split(';'))
        car = Cars(*data)
        cars.append(car)
    file.close()

In [13]:
cars[7]

Cars(Car='Plymouth Fury iii', MPG=14.0, Cylinders=8, Displacement=440.0, Horsepower=215.0, Weight=4312.0, Acceleration=8.5, Model=70, Origin='US')

In [14]:
# Let us use list comprehension to make it further efficient

with open(cars_file_path, 'r') as file:
    file_iter = iter(file)
    header = next(file_iter).strip('\n').split(';') 
    Cars = namedtuple('Cars', header)
    data_type= next(file_iter).strip('\n').split(';')
    car_data = [cast_row(data_type, 
                     line.strip('\n').split(';'))
                for line in file]
    cars = [Cars(*item) for item in car_data]

In [15]:
cars[10]

Cars(Car='Citroen DS-21 Pallas', MPG=0.0, Cylinders=4, Displacement=133.0, Horsepower=115.0, Weight=3090.0, Acceleration=17.5, Model=70, Origin='Europe')

### Cyclic Iterators

Let us say we have 2 lists
- lst1 = [1, 2,....1000]
- lst2 = ['N', 'S', 'W', 'E']

and we want to get ['1N', '2S', '3W', '4E', '5N'...and so on]. We can use cyclic iterators in such cases.

In [1]:
# Let us first do it with zip, repetiotion & lambda. This is also a smart way, no harm in adopting this....

l1 =  ['N', 'S', 'W', 'E']
lst = [{i}{j} for i, j in zip(i, range(10)) if i%len(l1)]

SyntaxError: invalid syntax (<ipython-input-1-65e4f3f073d7>, line 4)

In [2]:
n = 10
list(zip(range(1, n+1), 'NSWE' * (n//4 + 1)))

[(1, 'N'),
 (2, 'S'),
 (3, 'W'),
 (4, 'E'),
 (5, 'N'),
 (6, 'S'),
 (7, 'W'),
 (8, 'E'),
 (9, 'N'),
 (10, 'S')]

In [4]:
n = 10
list(zip(range(1, n+1), 'NSWE'))  # This will zip and give list with iterable having lesser elements. In this case 'NSWE'

[(1, 'N'), (2, 'S'), (3, 'W'), (4, 'E')]

**So we need to make sure that 'NSWE' covers the bigger iterable. We can do this by repetition. Hence, we will repeat 'NSWE' , (n//4+1) times i.e. for an n=10, (2+1) times which will give 'NSWE', 'NSWE', 'NSWE' - 12 letters enough to cover n=10**

In [7]:
n = 10
list(zip(range(1, n+1), 'NSWE'*(n//4+1)))

[(1, 'N'),
 (2, 'S'),
 (3, 'W'),
 (4, 'E'),
 (5, 'N'),
 (6, 'S'),
 (7, 'W'),
 (8, 'E'),
 (9, 'N'),
 (10, 'S')]

**Let us put this in list comprehension & make more generic**

In [9]:
n = 10
string = 'NSWE'
[f'{i}{j}' for i, j in zip(range(1, n+1), string*(n//len(string)+1))]

['1N', '2S', '3W', '4E', '5N', '6S', '7W', '8E', '9N', '10S']

In [11]:
n = 12
string = 'INDIA'
[f'{i}{j}' for i, j in zip(range(1, n+1), string*(n//len(string)+1))]

['1I', '2N', '3D', '4I', '5A', '6I', '7N', '8D', '9I', '10A', '11I', '12N']

***Now let us try writing a cyclic iterator for same purpose***

In [12]:
class CyclicIterator:
    def __init__(self, lst):
        self.lst = lst
        self.i   = 0
        
    def __iter__(self):
        return self
    
    def __next__(self):
        print(f'self.i : {self.i}')
        result = self.lst[self.i % len(self.lst)]
        self.i += 1
        return result

In [13]:
iter_cycle = CyclicIterator('NSWE')

In [14]:
for i in range(10):
    print(next(iter_cycle))

self.i : 0
N
self.i : 1
S
self.i : 2
W
self.i : 3
E
self.i : 4
N
self.i : 5
S
self.i : 6
W
self.i : 7
E
self.i : 8
N
self.i : 9
S

In [15]:
# Now let us try to integrate to generate combined list

class CyclicIterator:
    def __init__(self, lst):
        self.lst = lst
        self.i   = 0
        
    def __iter__(self):
        return self
    
    def __next__(self):
        result = self.lst[self.i % len(self.lst)]
        self.i += 1
        return result

In [17]:
n = 10
iter_cycle = CyclicIterator('NSWE')
for i in range(1, n+1):
    print(f'{i}{next(iter_cycle)}')

1N
2S
3W
4E
5N
6S
7W
8E
9N
10S

In [18]:
# Making this a list-comprehension
[f'{i}{next(iter_cycle)}' for i in range(1, n+1)]

['1W', '2E', '3N', '4S', '5W', '6E', '7N', '8S', '9W', '10E']

### But there is a standard iterator available 'itertools.cycle'

In [20]:
import itertools

In [21]:
n = 12
iter_cycle = itertools.cycle('NSWE')
[f'{i}{next(iter_cycle)}' for i in range(1, n+1)]

['1N', '2S', '3W', '4E', '5N', '6S', '7W', '8E', '9N', '10S', '11W', '12E']

## Lazy Iterables

Lazy evaluation is when evaluating a value is deferred until it is actually requested.

It is not specific to iterables however.

Simple examples of lazy evaluation are often seen in classes for calculated properties.

In [27]:
import math

class Circle:
    def __init__(self, r):
        self.radius = r
        
    @property
    def radius(self):
        return self._radius
    
    @radius.setter
    def radius(self, r):
        self._radius = r
        self.area   = math.pi * r**2

As you can see, in this circle class, every time we set the radius, we re-calculate and store the area. When we request the area of the circle, we simply return the stored value.

In [32]:
c = Circle(1)
id(c)

2608935743104

In [33]:
c.area

3.141592653589793

In [34]:
c.radius = 10

In [37]:
c.radius, c.area, id(c)  #As we can see, we can keep changing the radius without defining a new object

(10, 314.1592653589793, 2608935743104)

But instead of doing it this way, we could just calculate the area every time it is requested without actually storing the value:

In [49]:
import math

class Circle:
    def __init__(self, r):
        print('init')
        self.radius = r
        
    @property
    def radius(self):
        print('Radius fetching...')
        return self._radius
    
    @radius.setter
    def radius(self, r):
        print('Radius reset')
        self._radius = r

    @property
    def area(self):
        print('Area calc')
        return math.pi * self.radius**2

In [51]:
c = Circle(1)

init
Radius reset

In [52]:
c.radius = 10

Radius reset

In [53]:
c.radius

Radius fetching...

10

In [54]:
c.area  # Here area is calculated only when we execute this step

Area calc
Radius fetching...

314.1592653589793

In [55]:
c.area

Area calc
Radius fetching...

314.1592653589793

In [56]:
c.radius, c.area, id(c)

Radius fetching...
Area calc
Radius fetching...

(10, 314.1592653589793, 2608934681520)

But as we can see above statements, the area is always recalculated.

So we may take a hybrid approach where we want to store the area so we don't need to recalculate it every time (except when the radius is modified). Also retain the feature of delay calculating the area until it is requested - that way if it is never requested, we didn't waste the CPU cycles to calculate it, or the memory to store it.

In [58]:
import math

class Circle:
    def __init__(self, r):
        print('init')
        self.radius = r
        
    @property
    def radius(self):
        print('Radius fetching...')
        return self._radius
    
    @radius.setter
    def radius(self, r):
        print('Radius & Area reset')
        self._radius = r
        self._area   = None

    @property
    def area(self):
        if self._area is None:
            print('Area calc')
            self._area = math.pi * self.radius**2
        return self._area

In [76]:
c = Circle(1)

init
Radius & Area reset

In [77]:
c.area

Area calc
Radius fetching...

3.141592653589793

In [78]:
c.area

3.141592653589793

In [68]:
c._area

3.141592653589793

In [79]:
id(c)

2608941773296

In [80]:
c.radius = 10

Radius & Area reset

In [81]:
c.radius, id(c)

Radius fetching...

(10, 2608941773296)

In [82]:
c._area  # This wont give anything beacuse radius is reset & the way we coded, we delayed calculating area unless it is called

In [83]:
c._area is None

True

In [84]:
c.area

Area calc
Radius fetching...

314.1592653589793

In [85]:
c._area, c.area, id(c)

(314.1592653589793, 314.1592653589793, 2608941773296)

Above was an example of lazy evaluation. We don't actually calculate and store an attribute of the class until it is actually needed.

We can sometimes do something similar with iterables - we don't actually have to store every item of the collection - we may be able to just calculate the item as needed.

In the following example we'll create an iterable of factorials of integers starting at 0, i.e.

0!, 1!, 2!, 3!, ..., n!

In [89]:
class Factorials:
    def __init__(self, length):
        self.length = length
        self.i = 0
        
    def __iter__(self):
        return self.Iterfactorial(self.length)
    
    class Iterfactorial:
        def __init__(self, length):
            self.length = length
            self.i = 0
            
        def __iter__(self):
            return self
        
        def __next__(self):
            if self.i >= self.length:
                raise StopIteration
            else:
                result = math.factorial(self.i)
                self.i += 1
                return result

In [96]:
f = Factorials(5)

In [97]:
fact_iter = iter(f)

In [98]:
next(fact_iter)

1

In [99]:
next(fact_iter)  # As we can see each time next is called, fact_iter is calculating the next factorial & displaying
next(fact_iter)
next(fact_iter)
next(fact_iter)

24

In [100]:
next(fact_iter)

StopIteration:

In [117]:
# We can even make it inifinite as below
class Factorials:       
    def __iter__(self):
        return self.Iterfactorial()
    
    class Iterfactorial:           
        def __init__(self):
            self.i = 0
            
        def __iter__(self):
            return self
        
        def __next__(self):
            result = math.factorial(self.i)
            self.i += 1
            return result

In [118]:
f = Factorials()

In [119]:
fact_iter = iter(f)

In [120]:
for i in range(10):
    print(next(fact_iter))

1
1
2
6
24
120
720
5040
40320
362880

In [121]:
next(fact_iter) # It shows next value in sequence

3628800

In [122]:
next(fact_iter)

39916800

### Using iterators in file handling

In [125]:
cars_file_path = r"C:\Users\anila\Desktop\AI\EPAI-Phase1\S14_Iterables_Iterators\cars.csv"

***open() method returns an iterator as can be seen below***

In [126]:
with open(cars_file_path) as f:
    print(type(f))
    print('__iter__' in dir(f))
    print('__next__' in dir(f))

<class '_io.TextIOWrapper'>
True
True

As you can see, the open() function returns an iterator (of type TextIOWrapper), and we can read lines from the file one by one using: 
- the next() function
- or calling the __next__() method. 
- The class also implements a readline() method which we can use to get the next row

In [130]:
with open(cars_file_path) as f:
    print(next(f))
    print(f.__next__())
    print(f.readline())

Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin

STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;INT;CAT

Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US

**Of course we can just iterate over all the lines using a for loop as well:**

In [136]:
with open(cars_file_path) as f:
    for row in f:
        print(row)

Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin

STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;INT;CAT

Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US

Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US

Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US

AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US

Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US

Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US

Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US

Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US

Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US

AMC Ambassador DPL;15.0;8;390.0;190.0;3850.;8.5;70;US

Citroen DS-21 Pallas;0;4;133.0;115.0;3090.;17.5;70;Europe

Chevrolet Chevelle Concours (sw);0;8;350.0;165.0;4142.;11.5;70;US

Ford Torino (sw);0;8;351.0;153.0;4034.;11.0;70;US

Plymouth Satellite (sw);0;8;383.0;175.0;4166.;10.5;70;US

AMC Rebel SST (sw);0;8;360.0;175.0;3850.;11.0;70;US

Dodge Challenger SE;15.0;8;383.0;170.0;3563.;10.0;70;US

Plymouth 'Cuda 340;14.0;8;340.0;160.0;3609.;8.0;70;US

Ford Mustang Boss 302;0;8;302.0;140.0;3353.;8.0;70;US

Chevrolet Monte Carlo;15.0;8;400.0;150.0;3761.;9.5;70;US

Buick Estate Wagon (sw);14.0;8;455.0;225.0;3086.;10.0;70;US

Toyota Corolla Mark ii;24.0;4;113.0;95.00;2372.;15.0;70;Japan

Plymouth Duster;22.0;6;198.0;95.00;2833.;15.5;70;US

AMC Hornet;18.0;6;199.0;97.00;2774.;15.5;70;US

Ford Maverick;21.0;6;200.0;85.00;2587.;16.0;70;US

Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;70;Japan

Volkswagen 1131 Deluxe Sedan;26.0;4;97.00;46.00;1835.;20.5;70;Europe

Peugeot 504;25.0;4;110.0;87.00;2672.;17.5;70;Europe

Audi 100 LS;24.0;4;107.0;90.00;2430.;14.5;70;Europe

Saab 99e;25.0;4;104.0;95.00;2375.;17.5;70;Europe

BMW 2002;26.0;4;121.0;113.0;2234.;12.5;70;Europe

AMC Gremlin;21.0;6;199.0;90.00;2648.;15.0;70;US

Ford F250;10.0;8;360.0;215.0;4615.;14.0;70;US

Chevy C20;10.0;8;307.0;200.0;4376.;15.0;70;US

Dodge D200;11.0;8;318.0;210.0;4382.;13.5;70;US

Hi 1200D;9.0;8;304.0;193.0;4732.;18.5;70;US

Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;71;Japan

Chevrolet Vega 2300;28.0;4;140.0;90.00;2264.;15.5;71;US

Toyota Corolla;25.0;4;113.0;95.00;2228.;14.0;71;Japan

Ford Pinto;25.0;4;98.00;0;2046.;19.0;71;US

Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe

AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US

Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US

Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US

Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US

AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US

Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US

Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US

Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US

Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US

Dodge Monaco (sw);12.0;8;383.0;180.0;4955.;11.5;71;US

Ford Country Squire (sw);13.0;8;400.0;170.0;4746.;12.0;71;US

Pontiac Safari (sw);13.0;8;400.0;175.0;5140.;12.0;71;US

AMC Hornet Sportabout (sw);18.0;6;258.0;110.0;2962.;13.5;71;US

Chevrolet Vega (sw);22.0;4;140.0;72.00;2408.;19.0;71;US

Pontiac Firebird;19.0;6;250.0;100.0;3282.;15.0;71;US

Ford Mustang;18.0;6;250.0;88.00;3139.;14.5;71;US

Mercury Capri 2000;23.0;4;122.0;86.00;2220.;14.0;71;US

Opel 1900;28.0;4;116.0;90.00;2123.;14.0;71;Europe

Peugeot 304;30.0;4;79.00;70.00;2074.;19.5;71;Europe

Fiat 124B;30.0;4;88.00;76.00;2065.;14.5;71;Europe

Toyota Corolla 1200;31.0;4;71.00;65.00;1773.;19.0;71;Japan

Datsun 1200;35.0;4;72.00;69.00;1613.;18.0;71;Japan

Volkswagen Model 111;27.0;4;97.00;60.00;1834.;19.0;71;Europe

Plymouth Cricket;26.0;4;91.00;70.00;1955.;20.5;71;US

Toyota Corolla Hardtop;24.0;4;113.0;95.00;2278.;15.5;72;Japan

Dodge Colt Hardtop;25.0;4;97.50;80.00;2126.;17.0;72;US

Volkswagen Type 3;23.0;4;97.00;54.00;2254.;23.5;72;Europe

Chevrolet Vega;20.0;4;140.0;90.00;2408.;19.5;72;US

Ford Pinto Runabout;21.0;4;122.0;86.00;2226.;16.5;72;US

Chevrolet Impala;13.0;8;350.0;165.0;4274.;12.0;72;US

Pontiac Catalina;14.0;8;400.0;175.0;4385.;12.0;72;US

Plymouth Fury III;15.0;8;318.0;150.0;4135.;13.5;72;US

Ford Galaxie 500;14.0;8;351.0;153.0;4129.;13.0;72;US

AMC Ambassador SST;17.0;8;304.0;150.0;3672.;11.5;72;US

Mercury Marquis;11.0;8;429.0;208.0;4633.;11.0;72;US

Buick LeSabre Custom;13.0;8;350.0;155.0;4502.;13.5;72;US

Oldsmobile Delta 88 Royale;12.0;8;350.0;160.0;4456.;13.5;72;US

Chrysler Newport Royal;13.0;8;400.0;190.0;4422.;12.5;72;US

Mazda RX2 Coupe;19.0;3;70.00;97.00;2330.;13.5;72;Japan

AMC Matador (sw);15.0;8;304.0;150.0;3892.;12.5;72;US

Chevrolet Chevelle Concours (sw);13.0;8;307.0;130.0;4098.;14.0;72;US

Ford Gran Torino (sw);13.0;8;302.0;140.0;4294.;16.0;72;US

Plymouth Satellite Custom (sw);14.0;8;318.0;150.0;4077.;14.0;72;US

Volvo 145e (sw);18.0;4;121.0;112.0;2933.;14.5;72;Europe

Volkswagen 411 (sw);22.0;4;121.0;76.00;2511.;18.0;72;Europe

Peugeot 504 (sw);21.0;4;120.0;87.00;2979.;19.5;72;Europe

Renault 12 (sw);26.0;4;96.00;69.00;2189.;18.0;72;Europe

Ford Pinto (sw);22.0;4;122.0;86.00;2395.;16.0;72;US

Datsun 510 (sw);28.0;4;97.00;92.00;2288.;17.0;72;Japan

Toyota Corolla Mark II (sw);23.0;4;120.0;97.00;2506.;14.5;72;Japan

Dodge Colt (sw);28.0;4;98.00;80.00;2164.;15.0;72;US

Toyota Corolla 1600 (sw);27.0;4;97.00;88.00;2100.;16.5;72;Japan

Buick Century 350;13.0;8;350.0;175.0;4100.;13.0;73;US

AMC Matador;14.0;8;304.0;150.0;3672.;11.5;73;US

Chevrolet Malibu;13.0;8;350.0;145.0;3988.;13.0;73;US

Ford Gran Torino;14.0;8;302.0;137.0;4042.;14.5;73;US

Dodge Coronet Custom;15.0;8;318.0;150.0;3777.;12.5;73;US

Mercury Marquis Brougham;12.0;8;429.0;198.0;4952.;11.5;73;US

Chevrolet Caprice Classic;13.0;8;400.0;150.0;4464.;12.0;73;US

Ford LTD;13.0;8;351.0;158.0;4363.;13.0;73;US

Plymouth Fury Gran Sedan;14.0;8;318.0;150.0;4237.;14.5;73;US

Chrysler New Yorker Brougham;13.0;8;440.0;215.0;4735.;11.0;73;US

Buick Electra 225 Custom;12.0;8;455.0;225.0;4951.;11.0;73;US

AMC Ambassador Brougham;13.0;8;360.0;175.0;3821.;11.0;73;US

Plymouth Valiant;18.0;6;225.0;105.0;3121.;16.5;73;US

Chevrolet Nova Custom;16.0;6;250.0;100.0;3278.;18.0;73;US

AMC Hornet;18.0;6;232.0;100.0;2945.;16.0;73;US

Ford Maverick;18.0;6;250.0;88.00;3021.;16.5;73;US

Plymouth Duster;23.0;6;198.0;95.00;2904.;16.0;73;US

Volkswagen Super Beetle;26.0;4;97.00;46.00;1950.;21.0;73;Europe

Chevrolet Impala;11.0;8;400.0;150.0;4997.;14.0;73;US

Ford Country;12.0;8;400.0;167.0;4906.;12.5;73;US

Plymouth Custom Suburb;13.0;8;360.0;170.0;4654.;13.0;73;US

Oldsmobile Vista Cruiser;12.0;8;350.0;180.0;4499.;12.5;73;US

AMC Gremlin;18.0;6;232.0;100.0;2789.;15.0;73;US

Toyota Camry;20.0;4;97.00;88.00;2279.;19.0;73;Japan

Chevrolet Vega;21.0;4;140.0;72.00;2401.;19.5;73;US

Datsun 610;22.0;4;108.0;94.00;2379.;16.5;73;Japan

Mazda RX3;18.0;3;70.00;90.00;2124.;13.5;73;Japan

Ford Pinto;19.0;4;122.0;85.00;2310.;18.5;73;US

Mercury Capri v6;21.0;6;155.0;107.0;2472.;14.0;73;US

Fiat 124 Sport Coupe;26.0;4;98.00;90.00;2265.;15.5;73;Europe

Chevrolet Monte Carlo S;15.0;8;350.0;145.0;4082.;13.0;73;US

Pontiac Grand Prix;16.0;8;400.0;230.0;4278.;9.50;73;US

Fiat 128;29.0;4;68.00;49.00;1867.;19.5;73;Europe

Opel Manta;24.0;4;116.0;75.00;2158.;15.5;73;Europe

Audi 100LS;20.0;4;114.0;91.00;2582.;14.0;73;Europe

Volvo 144ea;19.0;4;121.0;112.0;2868.;15.5;73;Europe

Dodge Dart Custom;15.0;8;318.0;150.0;3399.;11.0;73;US

Saab 99le;24.0;4;121.0;110.0;2660.;14.0;73;Europe

Toyota Mark II;20.0;6;156.0;122.0;2807.;13.5;73;Japan

Oldsmobile Omega;11.0;8;350.0;180.0;3664.;11.0;73;US

Plymouth Duster;20.0;6;198.0;95.00;3102.;16.5;74;US

Ford Maverick;21.0;6;200.0;0;2875.;17.0;74;US

AMC Hornet;19.0;6;232.0;100.0;2901.;16.0;74;US

Chevrolet Nova;15.0;6;250.0;100.0;3336.;17.0;74;US

Datsun B210;31.0;4;79.00;67.00;1950.;19.0;74;Japan

Ford Pinto;26.0;4;122.0;80.00;2451.;16.5;74;US

Toyota Corolla 1200;32.0;4;71.00;65.00;1836.;21.0;74;Japan

Chevrolet Vega;25.0;4;140.0;75.00;2542.;17.0;74;US

Chevrolet Chevelle Malibu Classic;16.0;6;250.0;100.0;3781.;17.0;74;US

AMC Matador;16.0;6;258.0;110.0;3632.;18.0;74;US

Plymouth Satellite Sebring;18.0;6;225.0;105.0;3613.;16.5;74;US

Ford Gran Torino;16.0;8;302.0;140.0;4141.;14.0;74;US

Buick Century Luxus (sw);13.0;8;350.0;150.0;4699.;14.5;74;US

Dodge Coronet Custom (sw);14.0;8;318.0;150.0;4457.;13.5;74;US

Ford Gran Torino (sw);14.0;8;302.0;140.0;4638.;16.0;74;US

AMC Matador (sw);14.0;8;304.0;150.0;4257.;15.5;74;US

Audi Fox;29.0;4;98.00;83.00;2219.;16.5;74;Europe

Volkswagen Dasher;26.0;4;79.00;67.00;1963.;15.5;74;Europe

Opel Manta;26.0;4;97.00;78.00;2300.;14.5;74;Europe

Toyota Corolla;31.0;4;76.00;52.00;1649.;16.5;74;Japan

Datsun 710;32.0;4;83.00;61.00;2003.;19.0;74;Japan

Dodge Colt;28.0;4;90.00;75.00;2125.;14.5;74;US

Fiat 128;24.0;4;90.00;75.00;2108.;15.5;74;Europe

Fiat 124 TC;26.0;4;116.0;75.00;2246.;14.0;74;Europe

Honda Civic;24.0;4;120.0;97.00;2489.;15.0;74;Japan

Subaru;26.0;4;108.0;93.00;2391.;15.5;74;Japan

Fiat x1.9;31.0;4;79.00;67.00;2000.;16.0;74;Europe

Plymouth Valiant Custom;19.0;6;225.0;95.00;3264.;16.0;75;US

Chevrolet Nova;18.0;6;250.0;105.0;3459.;16.0;75;US

Mercury Monarch;15.0;6;250.0;72.00;3432.;21.0;75;US

Ford Maverick;15.0;6;250.0;72.00;3158.;19.5;75;US

Pontiac Catalina;16.0;8;400.0;170.0;4668.;11.5;75;US

Chevrolet Bel Air;15.0;8;350.0;145.0;4440.;14.0;75;US

Plymouth Grand Fury;16.0;8;318.0;150.0;4498.;14.5;75;US

Ford LTD;14.0;8;351.0;148.0;4657.;13.5;75;US

Buick Century;17.0;6;231.0;110.0;3907.;21.0;75;US

Chevrolete Chevelle Malibu;16.0;6;250.0;105.0;3897.;18.5;75;US

AMC Matador;15.0;6;258.0;110.0;3730.;19.0;75;US

Plymouth Fury;18.0;6;225.0;95.00;3785.;19.0;75;US

Buick Skyhawk;21.0;6;231.0;110.0;3039.;15.0;75;US

Chevrolet Monza 2+2;20.0;8;262.0;110.0;3221.;13.5;75;US

Ford Mustang II;13.0;8;302.0;129.0;3169.;12.0;75;US

Toyota Corolla;29.0;4;97.00;75.00;2171.;16.0;75;Japan

Ford Pinto;23.0;4;140.0;83.00;2639.;17.0;75;US

AMC Gremlin;20.0;6;232.0;100.0;2914.;16.0;75;US

Pontiac Astro;23.0;4;140.0;78.00;2592.;18.5;75;US

Toyota Corolla;24.0;4;134.0;96.00;2702.;13.5;75;Japan

Volkswagen Dasher;25.0;4;90.00;71.00;2223.;16.5;75;Europe

Datsun 710;24.0;4;119.0;97.00;2545.;17.0;75;Japan

Ford Pinto;18.0;6;171.0;97.00;2984.;14.5;75;US

Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.0;75;Europe

AMC Pacer;19.0;6;232.0;90.00;3211.;17.0;75;US

Audi 100LS;23.0;4;115.0;95.00;2694.;15.0;75;Europe

Peugeot 504;23.0;4;120.0;88.00;2957.;17.0;75;Europe

Volvo 244DL;22.0;4;121.0;98.00;2945.;14.5;75;Europe

Saab 99LE;25.0;4;121.0;115.0;2671.;13.5;75;Europe

Honda Civic CVCC;33.0;4;91.00;53.00;1795.;17.5;75;Japan

Fiat 131;28.0;4;107.0;86.00;2464.;15.5;76;Europe

Opel 1900;25.0;4;116.0;81.00;2220.;16.9;76;Europe

Capri ii;25.0;4;140.0;92.00;2572.;14.9;76;US

Dodge Colt;26.0;4;98.00;79.00;2255.;17.7;76;US

Renault 12tl;27.0;4;101.0;83.00;2202.;15.3;76;Europe

Chevrolet Chevelle Malibu Classic;17.5;8;305.0;140.0;4215.;13.0;76;US

Dodge Coronet Brougham;16.0;8;318.0;150.0;4190.;13.0;76;US

AMC Matador;15.5;8;304.0;120.0;3962.;13.9;76;US

Ford Gran Torino;14.5;8;351.0;152.0;4215.;12.8;76;US

Plymouth Valiant;22.0;6;225.0;100.0;3233.;15.4;76;US

Chevrolet Nova;22.0;6;250.0;105.0;3353.;14.5;76;US

Ford Maverick;24.0;6;200.0;81.00;3012.;17.6;76;US

AMC Hornet;22.5;6;232.0;90.00;3085.;17.6;76;US

Chevrolet Chevette;29.0;4;85.00;52.00;2035.;22.2;76;US

Chevrolet Woody;24.5;4;98.00;60.00;2164.;22.1;76;US

Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.2;76;Europe

Honda Civic;33.0;4;91.00;53.00;1795.;17.4;76;Japan

Dodge Aspen SE;20.0;6;225.0;100.0;3651.;17.7;76;US

Ford Grenada ghia;18.0;6;250.0;78.00;3574.;21.0;76;US

Pontiac Ventura SJ;18.5;6;250.0;110.0;3645.;16.2;76;US

AMC Pacer d/l;17.5;6;258.0;95.00;3193.;17.8;76;US

Volkswagen Rabbit;29.5;4;97.00;71.00;1825.;12.2;76;Europe

Datsun B-210;32.0;4;85.00;70.00;1990.;17.0;76;Japan

Toyota Corolla;28.0;4;97.00;75.00;2155.;16.4;76;Japan

Ford Pinto;26.5;4;140.0;72.00;2565.;13.6;76;US

Volvo 245;20.0;4;130.0;102.0;3150.;15.7;76;Europe

Plymouth Volare Premier v8;13.0;8;318.0;150.0;3940.;13.2;76;US

Peugeot 504;19.0;4;120.0;88.00;3270.;21.9;76;Europe

Toyota Mark II;19.0;6;156.0;108.0;2930.;15.5;76;Japan

Mercedes-Benz 280s;16.5;6;168.0;120.0;3820.;16.7;76;Europe

Cadillac Seville;16.5;8;350.0;180.0;4380.;12.1;76;US

Chevrolet C10;13.0;8;350.0;145.0;4055.;12.0;76;US

Ford F108;13.0;8;302.0;130.0;3870.;15.0;76;US

Dodge D100;13.0;8;318.0;150.0;3755.;14.0;76;US

Honda Accord CVCC;31.5;4;98.00;68.00;2045.;18.5;77;Japan

Buick Opel Isuzu Deluxe;30.0;4;111.0;80.00;2155.;14.8;77;US

Renault 5 GTL;36.0;4;79.00;58.00;1825.;18.6;77;Europe

Plymouth Arrow GS;25.5;4;122.0;96.00;2300.;15.5;77;US

Datsun F-10 Hatchback;33.5;4;85.00;70.00;1945.;16.8;77;Japan

Chevrolet Caprice Classic;17.5;8;305.0;145.0;3880.;12.5;77;US

Oldsmobile Cutlass Supreme;17.0;8;260.0;110.0;4060.;19.0;77;US

Dodge Monaco Brougham;15.5;8;318.0;145.0;4140.;13.7;77;US

Mercury Cougar Brougham;15.0;8;302.0;130.0;4295.;14.9;77;US

Chevrolet Concours;17.5;6;250.0;110.0;3520.;16.4;77;US

Buick Skylark;20.5;6;231.0;105.0;3425.;16.9;77;US

Plymouth Volare Custom;19.0;6;225.0;100.0;3630.;17.7;77;US

Ford Grenada;18.5;6;250.0;98.00;3525.;19.0;77;US

Pontiac Grand Prix LJ;16.0;8;400.0;180.0;4220.;11.1;77;US

Chevrolet Monte Carlo Landau;15.5;8;350.0;170.0;4165.;11.4;77;US

Chrysler Cordoba;15.5;8;400.0;190.0;4325.;12.2;77;US

Ford Thunderbird;16.0;8;351.0;149.0;4335.;14.5;77;US

Volkswagen Rabbit Custom;29.0;4;97.00;78.00;1940.;14.5;77;Europe

Pontiac Sunbird Coupe;24.5;4;151.0;88.00;2740.;16.0;77;US

Toyota Corolla Liftback;26.0;4;97.00;75.00;2265.;18.2;77;Japan

Ford Mustang II 2+2;25.5;4;140.0;89.00;2755.;15.8;77;US

Chevrolet Chevette;30.5;4;98.00;63.00;2051.;17.0;77;US

Dodge Colt m/m;33.5;4;98.00;83.00;2075.;15.9;77;US

Subaru DL;30.0;4;97.00;67.00;1985.;16.4;77;Japan

Volkswagen Dasher;30.5;4;97.00;78.00;2190.;14.1;77;Europe

Datsun 810;22.0;6;146.0;97.00;2815.;14.5;77;Japan

BMW 320i;21.5;4;121.0;110.0;2600.;12.8;77;Europe

Mazda RX-4;21.5;3;80.00;110.0;2720.;13.5;77;Japan

Volkswagen Rabbit Custom Diesel;43.1;4;90.00;48.00;1985.;21.5;78;Europe

Ford Fiesta;36.1;4;98.00;66.00;1800.;14.4;78;US

Mazda GLC Deluxe;32.8;4;78.00;52.00;1985.;19.4;78;Japan

Datsun B210 GX;39.4;4;85.00;70.00;2070.;18.6;78;Japan

Honda Civic CVCC;36.1;4;91.00;60.00;1800.;16.4;78;Japan

Oldsmobile Cutlass Salon Brougham;19.9;8;260.0;110.0;3365.;15.5;78;US

Dodge Diplomat;19.4;8;318.0;140.0;3735.;13.2;78;US

Mercury Monarch ghia;20.2;8;302.0;139.0;3570.;12.8;78;US

Pontiac Phoenix LJ;19.2;6;231.0;105.0;3535.;19.2;78;US

Chevrolet Malibu;20.5;6;200.0;95.00;3155.;18.2;78;US

Ford Fairmont (auto);20.2;6;200.0;85.00;2965.;15.8;78;US

Ford Fairmont (man);25.1;4;140.0;88.00;2720.;15.4;78;US

Plymouth Volare;20.5;6;225.0;100.0;3430.;17.2;78;US

AMC Concord;19.4;6;232.0;90.00;3210.;17.2;78;US

Buick Century Special;20.6;6;231.0;105.0;3380.;15.8;78;US

Mercury Zephyr;20.8;6;200.0;85.00;3070.;16.7;78;US

Dodge Aspen;18.6;6;225.0;110.0;3620.;18.7;78;US

AMC Concord d/l;18.1;6;258.0;120.0;3410.;15.1;78;US

Chevrolet Monte Carlo Landau;19.2;8;305.0;145.0;3425.;13.2;78;US

Buick Regal Sport Coupe (turbo);17.7;6;231.0;165.0;3445.;13.4;78;US

Ford Futura;18.1;8;302.0;139.0;3205.;11.2;78;US

Dodge Magnum XE;17.5;8;318.0;140.0;4080.;13.7;78;US

Chevrolet Chevette;30.0;4;98.00;68.00;2155.;16.5;78;US

Toyota Corolla;27.5;4;134.0;95.00;2560.;14.2;78;Japan

Datsun 510;27.2;4;119.0;97.00;2300.;14.7;78;Japan

Dodge Omni;30.9;4;105.0;75.00;2230.;14.5;78;US

Toyota Celica GT Liftback;21.1;4;134.0;95.00;2515.;14.8;78;Japan

Plymouth Sapporo;23.2;4;156.0;105.0;2745.;16.7;78;US

Oldsmobile Starfire SX;23.8;4;151.0;85.00;2855.;17.6;78;US

Datsun 200-SX;23.9;4;119.0;97.00;2405.;14.9;78;Japan

Audi 5000;20.3;5;131.0;103.0;2830.;15.9;78;Europe

Volvo 264gl;17.0;6;163.0;125.0;3140.;13.6;78;Europe

Saab 99gle;21.6;4;121.0;115.0;2795.;15.7;78;Europe

Peugeot 604sl;16.2;6;163.0;133.0;3410.;15.8;78;Europe

Volkswagen Scirocco;31.5;4;89.00;71.00;1990.;14.9;78;Europe

Honda Accord LX;29.5;4;98.00;68.00;2135.;16.6;78;Japan

Pontiac Lemans V6;21.5;6;231.0;115.0;3245.;15.4;79;US

Mercury Zephyr 6;19.8;6;200.0;85.00;2990.;18.2;79;US

Ford Fairmont 4;22.3;4;140.0;88.00;2890.;17.3;79;US

AMC Concord DL 6;20.2;6;232.0;90.00;3265.;18.2;79;US

Dodge Aspen 6;20.6;6;225.0;110.0;3360.;16.6;79;US

Chevrolet Caprice Classic;17.0;8;305.0;130.0;3840.;15.4;79;US

Ford LTD Landau;17.6;8;302.0;129.0;3725.;13.4;79;US

Mercury Grand Marquis;16.5;8;351.0;138.0;3955.;13.2;79;US

Dodge St. Regis;18.2;8;318.0;135.0;3830.;15.2;79;US

Buick Estate Wagon (sw);16.9;8;350.0;155.0;4360.;14.9;79;US

Ford Country Squire (sw);15.5;8;351.0;142.0;4054.;14.3;79;US

Chevrolet Malibu Classic (sw);19.2;8;267.0;125.0;3605.;15.0;79;US

Chrysler Lebaron Town @ Country (sw);18.5;8;360.0;150.0;3940.;13.0;79;US

Volkswagen Rabbit Custom;31.9;4;89.00;71.00;1925.;14.0;79;Europe

Mazda GLC Deluxe;34.1;4;86.00;65.00;1975.;15.2;79;Japan

Dodge Colt Hatchback Custom;35.7;4;98.00;80.00;1915.;14.4;79;US

AMC Spirit DL;27.4;4;121.0;80.00;2670.;15.0;79;US

Mercedes Benz 300d;25.4;5;183.0;77.00;3530.;20.1;79;Europe

Cadillac Eldorado;23.0;8;350.0;125.0;3900.;17.4;79;US

Peugeot 504;27.2;4;141.0;71.00;3190.;24.8;79;Europe

Oldsmobile Cutlass Salon Brougham;23.9;8;260.0;90.00;3420.;22.2;79;US

Plymouth Horizon;34.2;4;105.0;70.00;2200.;13.2;79;US

Plymouth Horizon TC3;34.5;4;105.0;70.00;2150.;14.9;79;US

Datsun 210;31.8;4;85.00;65.00;2020.;19.2;79;Japan

Fiat Strada Custom;37.3;4;91.00;69.00;2130.;14.7;79;Europe

Buick Skylark Limited;28.4;4;151.0;90.00;2670.;16.0;79;US

Chevrolet Citation;28.8;6;173.0;115.0;2595.;11.3;79;US

Oldsmobile Omega Brougham;26.8;6;173.0;115.0;2700.;12.9;79;US

Pontiac Phoenix;33.5;4;151.0;90.00;2556.;13.2;79;US

Volkswagen Rabbit;41.5;4;98.00;76.00;2144.;14.7;80;Europe

Toyota Corolla Tercel;38.1;4;89.00;60.00;1968.;18.8;80;Japan

Chevrolet Chevette;32.1;4;98.00;70.00;2120.;15.5;80;US

Datsun 310;37.2;4;86.00;65.00;2019.;16.4;80;Japan

Chevrolet Citation;28.0;4;151.0;90.00;2678.;16.5;80;US

Ford Fairmont;26.4;4;140.0;88.00;2870.;18.1;80;US

AMC Concord;24.3;4;151.0;90.00;3003.;20.1;80;US

Dodge Aspen;19.1;6;225.0;90.00;3381.;18.7;80;US

Audi 4000;34.3;4;97.00;78.00;2188.;15.8;80;Europe

Toyota Corolla Liftback;29.8;4;134.0;90.00;2711.;15.5;80;Japan

Mazda 626;31.3;4;120.0;75.00;2542.;17.5;80;Japan

Datsun 510 Hatchback;37.0;4;119.0;92.00;2434.;15.0;80;Japan

Toyota Corolla;32.2;4;108.0;75.00;2265.;15.2;80;Japan

Mazda GLC;46.6;4;86.00;65.00;2110.;17.9;80;Japan

Dodge Colt;27.9;4;156.0;105.0;2800.;14.4;80;US

Datsun 210;40.8;4;85.00;65.00;2110.;19.2;80;Japan

Volkswagen Rabbit C (Diesel);44.3;4;90.00;48.00;2085.;21.7;80;Europe

Volkswagen Dasher (diesel);43.4;4;90.00;48.00;2335.;23.7;80;Europe

Audi 5000s (diesel);36.4;5;121.0;67.00;2950.;19.9;80;Europe

Mercedes-Benz 240d;30.0;4;146.0;67.00;3250.;21.8;80;Europe

Honda Civic 1500 gl;44.6;4;91.00;67.00;1850.;13.8;80;Japan

Renault Lecar Deluxe;40.9;4;85.00;0;1835.;17.3;80;Europe

Subaru DL;33.8;4;97.00;67.00;2145.;18.0;80;Japan

Volkswagen Rabbit;29.8;4;89.00;62.00;1845.;15.3;80;Europe

Datsun 280-ZX;32.7;6;168.0;132.0;2910.;11.4;80;Japan

Mazda RX-7 GS;23.7;3;70.00;100.0;2420.;12.5;80;Japan

Triumph TR7 Coupe;35.0;4;122.0;88.00;2500.;15.1;80;Europe

Ford Mustang Cobra;23.6;4;140.0;0;2905.;14.3;80;US

Honda Accord;32.4;4;107.0;72.00;2290.;17.0;80;Japan

Plymouth Reliant;27.2;4;135.0;84.00;2490.;15.7;81;US

Buick Skylark;26.6;4;151.0;84.00;2635.;16.4;81;US

Dodge Aries Wagon (sw);25.8;4;156.0;92.00;2620.;14.4;81;US

Chevrolet Citation;23.5;6;173.0;110.0;2725.;12.6;81;US

Plymouth Reliant;30.0;4;135.0;84.00;2385.;12.9;81;US

Toyota Starlet;39.1;4;79.00;58.00;1755.;16.9;81;Japan

Plymouth Champ;39.0;4;86.00;64.00;1875.;16.4;81;US

Honda Civic 1300;35.1;4;81.00;60.00;1760.;16.1;81;Japan

Subaru;32.3;4;97.00;67.00;2065.;17.8;81;Japan

Datsun 210 MPG;37.0;4;85.00;65.00;1975.;19.4;81;Japan

Toyota Tercel;37.7;4;89.00;62.00;2050.;17.3;81;Japan

Mazda GLC 4;34.1;4;91.00;68.00;1985.;16.0;81;Japan

Plymouth Horizon 4;34.7;4;105.0;63.00;2215.;14.9;81;US


In [137]:
# To avoid \n causing a gap between new lines, we can use as below
with open(cars_file_path) as f:
    for row in f:
        print(row, end='')

Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin
STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;INT;CAT
Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US
Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US
Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US
AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US
Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US
Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US
Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US
Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US
Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US
AMC Ambassador DPL;15.0;8;390.0;190.0;3850.;8.5;70;US
Citroen DS-21 Pallas;0;4;133.0;115.0;3090.;17.5;70;Europe
Chevrolet Chevelle Concours (sw);0;8;350.0;165.0;4142.;11.5;70;US
Ford Torino (sw);0;8;351.0;153.0;4034.;11.0;70;US
Plymouth Satellite (sw);0;8;383.0;175.0;4166.;10.5;70;US
AMC Rebel SST (sw);0;8;360.0;175.0;3850.;11.0;70;US
Dodge Challenger SE;15.0;8;383.0;170.0;3563.;10.0;70;US
Plymouth 'Cuda 340;14.0;8;340.0;160.0;3609.;8.0;70;US
Ford Mustang Boss 302;0;8;302.0;140.0;3353.;8.0;70;US
Chevrolet Monte Carlo;15.0;8;400.0;150.0;3761.;9.5;70;US
Buick Estate Wagon (sw);14.0;8;455.0;225.0;3086.;10.0;70;US
Toyota Corolla Mark ii;24.0;4;113.0;95.00;2372.;15.0;70;Japan
Plymouth Duster;22.0;6;198.0;95.00;2833.;15.5;70;US
AMC Hornet;18.0;6;199.0;97.00;2774.;15.5;70;US
Ford Maverick;21.0;6;200.0;85.00;2587.;16.0;70;US
Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;70;Japan
Volkswagen 1131 Deluxe Sedan;26.0;4;97.00;46.00;1835.;20.5;70;Europe
Peugeot 504;25.0;4;110.0;87.00;2672.;17.5;70;Europe
Audi 100 LS;24.0;4;107.0;90.00;2430.;14.5;70;Europe
Saab 99e;25.0;4;104.0;95.00;2375.;17.5;70;Europe
BMW 2002;26.0;4;121.0;113.0;2234.;12.5;70;Europe
AMC Gremlin;21.0;6;199.0;90.00;2648.;15.0;70;US
Ford F250;10.0;8;360.0;215.0;4615.;14.0;70;US
Chevy C20;10.0;8;307.0;200.0;4376.;15.0;70;US
Dodge D200;11.0;8;318.0;210.0;4382.;13.5;70;US
Hi 1200D;9.0;8;304.0;193.0;4732.;18.5;70;US
Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;71;Japan
Chevrolet Vega 2300;28.0;4;140.0;90.00;2264.;15.5;71;US
Toyota Corolla;25.0;4;113.0;95.00;2228.;14.0;71;Japan
Ford Pinto;25.0;4;98.00;0;2046.;19.0;71;US
Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe
AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US
Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US
Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US
Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US
AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US
Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US
Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US
Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US
Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US
Dodge Monaco (sw);12.0;8;383.0;180.0;4955.;11.5;71;US
Ford Country Squire (sw);13.0;8;400.0;170.0;4746.;12.0;71;US
Pontiac Safari (sw);13.0;8;400.0;175.0;5140.;12.0;71;US
AMC Hornet Sportabout (sw);18.0;6;258.0;110.0;2962.;13.5;71;US
Chevrolet Vega (sw);22.0;4;140.0;72.00;2408.;19.0;71;US
Pontiac Firebird;19.0;6;250.0;100.0;3282.;15.0;71;US
Ford Mustang;18.0;6;250.0;88.00;3139.;14.5;71;US
Mercury Capri 2000;23.0;4;122.0;86.00;2220.;14.0;71;US
Opel 1900;28.0;4;116.0;90.00;2123.;14.0;71;Europe
Peugeot 304;30.0;4;79.00;70.00;2074.;19.5;71;Europe
Fiat 124B;30.0;4;88.00;76.00;2065.;14.5;71;Europe
Toyota Corolla 1200;31.0;4;71.00;65.00;1773.;19.0;71;Japan
Datsun 1200;35.0;4;72.00;69.00;1613.;18.0;71;Japan
Volkswagen Model 111;27.0;4;97.00;60.00;1834.;19.0;71;Europe
Plymouth Cricket;26.0;4;91.00;70.00;1955.;20.5;71;US
Toyota Corolla Hardtop;24.0;4;113.0;95.00;2278.;15.5;72;Japan
Dodge Colt Hardtop;25.0;4;97.50;80.00;2126.;17.0;72;US
Volkswagen Type 3;23.0;4;97.00;54.00;2254.;23.5;72;Europe
Chevrolet Vega;20.0;4;140.0;90.00;2408.;19.5;72;US
Ford Pinto Runabout;21.0;4;122.0;86.00;2226.;16.5;72;US
Chevrolet Impala;13.0;8;350.0;165.0;4274.;12.0;72;US
Pontiac Catalina;14.0;8;400.0;175.0;4385.;12.0;72;US
Plymouth Fury III;15.0;8;318.0;150.0;4135.;13.5;72;US
Ford Galaxie 500;14.0;8;351.0;153.0;4129.;13.0;72;US
AMC Ambassador SST;17.0;8;304.0;150.0;3672.;11.5;72;US
Mercury Marquis;11.0;8;429.0;208.0;4633.;11.0;72;US
Buick LeSabre Custom;13.0;8;350.0;155.0;4502.;13.5;72;US
Oldsmobile Delta 88 Royale;12.0;8;350.0;160.0;4456.;13.5;72;US
Chrysler Newport Royal;13.0;8;400.0;190.0;4422.;12.5;72;US
Mazda RX2 Coupe;19.0;3;70.00;97.00;2330.;13.5;72;Japan
AMC Matador (sw);15.0;8;304.0;150.0;3892.;12.5;72;US
Chevrolet Chevelle Concours (sw);13.0;8;307.0;130.0;4098.;14.0;72;US
Ford Gran Torino (sw);13.0;8;302.0;140.0;4294.;16.0;72;US
Plymouth Satellite Custom (sw);14.0;8;318.0;150.0;4077.;14.0;72;US
Volvo 145e (sw);18.0;4;121.0;112.0;2933.;14.5;72;Europe
Volkswagen 411 (sw);22.0;4;121.0;76.00;2511.;18.0;72;Europe
Peugeot 504 (sw);21.0;4;120.0;87.00;2979.;19.5;72;Europe
Renault 12 (sw);26.0;4;96.00;69.00;2189.;18.0;72;Europe
Ford Pinto (sw);22.0;4;122.0;86.00;2395.;16.0;72;US
Datsun 510 (sw);28.0;4;97.00;92.00;2288.;17.0;72;Japan
Toyota Corolla Mark II (sw);23.0;4;120.0;97.00;2506.;14.5;72;Japan
Dodge Colt (sw);28.0;4;98.00;80.00;2164.;15.0;72;US
Toyota Corolla 1600 (sw);27.0;4;97.00;88.00;2100.;16.5;72;Japan
Buick Century 350;13.0;8;350.0;175.0;4100.;13.0;73;US
AMC Matador;14.0;8;304.0;150.0;3672.;11.5;73;US
Chevrolet Malibu;13.0;8;350.0;145.0;3988.;13.0;73;US
Ford Gran Torino;14.0;8;302.0;137.0;4042.;14.5;73;US
Dodge Coronet Custom;15.0;8;318.0;150.0;3777.;12.5;73;US
Mercury Marquis Brougham;12.0;8;429.0;198.0;4952.;11.5;73;US
Chevrolet Caprice Classic;13.0;8;400.0;150.0;4464.;12.0;73;US
Ford LTD;13.0;8;351.0;158.0;4363.;13.0;73;US
Plymouth Fury Gran Sedan;14.0;8;318.0;150.0;4237.;14.5;73;US
Chrysler New Yorker Brougham;13.0;8;440.0;215.0;4735.;11.0;73;US
Buick Electra 225 Custom;12.0;8;455.0;225.0;4951.;11.0;73;US
AMC Ambassador Brougham;13.0;8;360.0;175.0;3821.;11.0;73;US
Plymouth Valiant;18.0;6;225.0;105.0;3121.;16.5;73;US
Chevrolet Nova Custom;16.0;6;250.0;100.0;3278.;18.0;73;US
AMC Hornet;18.0;6;232.0;100.0;2945.;16.0;73;US
Ford Maverick;18.0;6;250.0;88.00;3021.;16.5;73;US
Plymouth Duster;23.0;6;198.0;95.00;2904.;16.0;73;US
Volkswagen Super Beetle;26.0;4;97.00;46.00;1950.;21.0;73;Europe
Chevrolet Impala;11.0;8;400.0;150.0;4997.;14.0;73;US
Ford Country;12.0;8;400.0;167.0;4906.;12.5;73;US
Plymouth Custom Suburb;13.0;8;360.0;170.0;4654.;13.0;73;US
Oldsmobile Vista Cruiser;12.0;8;350.0;180.0;4499.;12.5;73;US
AMC Gremlin;18.0;6;232.0;100.0;2789.;15.0;73;US
Toyota Camry;20.0;4;97.00;88.00;2279.;19.0;73;Japan
Chevrolet Vega;21.0;4;140.0;72.00;2401.;19.5;73;US
Datsun 610;22.0;4;108.0;94.00;2379.;16.5;73;Japan
Mazda RX3;18.0;3;70.00;90.00;2124.;13.5;73;Japan
Ford Pinto;19.0;4;122.0;85.00;2310.;18.5;73;US
Mercury Capri v6;21.0;6;155.0;107.0;2472.;14.0;73;US
Fiat 124 Sport Coupe;26.0;4;98.00;90.00;2265.;15.5;73;Europe
Chevrolet Monte Carlo S;15.0;8;350.0;145.0;4082.;13.0;73;US
Pontiac Grand Prix;16.0;8;400.0;230.0;4278.;9.50;73;US
Fiat 128;29.0;4;68.00;49.00;1867.;19.5;73;Europe
Opel Manta;24.0;4;116.0;75.00;2158.;15.5;73;Europe
Audi 100LS;20.0;4;114.0;91.00;2582.;14.0;73;Europe
Volvo 144ea;19.0;4;121.0;112.0;2868.;15.5;73;Europe
Dodge Dart Custom;15.0;8;318.0;150.0;3399.;11.0;73;US
Saab 99le;24.0;4;121.0;110.0;2660.;14.0;73;Europe
Toyota Mark II;20.0;6;156.0;122.0;2807.;13.5;73;Japan
Oldsmobile Omega;11.0;8;350.0;180.0;3664.;11.0;73;US
Plymouth Duster;20.0;6;198.0;95.00;3102.;16.5;74;US
Ford Maverick;21.0;6;200.0;0;2875.;17.0;74;US
AMC Hornet;19.0;6;232.0;100.0;2901.;16.0;74;US
Chevrolet Nova;15.0;6;250.0;100.0;3336.;17.0;74;US
Datsun B210;31.0;4;79.00;67.00;1950.;19.0;74;Japan
Ford Pinto;26.0;4;122.0;80.00;2451.;16.5;74;US
Toyota Corolla 1200;32.0;4;71.00;65.00;1836.;21.0;74;Japan
Chevrolet Vega;25.0;4;140.0;75.00;2542.;17.0;74;US
Chevrolet Chevelle Malibu Classic;16.0;6;250.0;100.0;3781.;17.0;74;US
AMC Matador;16.0;6;258.0;110.0;3632.;18.0;74;US
Plymouth Satellite Sebring;18.0;6;225.0;105.0;3613.;16.5;74;US
Ford Gran Torino;16.0;8;302.0;140.0;4141.;14.0;74;US
Buick Century Luxus (sw);13.0;8;350.0;150.0;4699.;14.5;74;US
Dodge Coronet Custom (sw);14.0;8;318.0;150.0;4457.;13.5;74;US
Ford Gran Torino (sw);14.0;8;302.0;140.0;4638.;16.0;74;US
AMC Matador (sw);14.0;8;304.0;150.0;4257.;15.5;74;US
Audi Fox;29.0;4;98.00;83.00;2219.;16.5;74;Europe
Volkswagen Dasher;26.0;4;79.00;67.00;1963.;15.5;74;Europe
Opel Manta;26.0;4;97.00;78.00;2300.;14.5;74;Europe
Toyota Corolla;31.0;4;76.00;52.00;1649.;16.5;74;Japan
Datsun 710;32.0;4;83.00;61.00;2003.;19.0;74;Japan
Dodge Colt;28.0;4;90.00;75.00;2125.;14.5;74;US
Fiat 128;24.0;4;90.00;75.00;2108.;15.5;74;Europe
Fiat 124 TC;26.0;4;116.0;75.00;2246.;14.0;74;Europe
Honda Civic;24.0;4;120.0;97.00;2489.;15.0;74;Japan
Subaru;26.0;4;108.0;93.00;2391.;15.5;74;Japan
Fiat x1.9;31.0;4;79.00;67.00;2000.;16.0;74;Europe
Plymouth Valiant Custom;19.0;6;225.0;95.00;3264.;16.0;75;US
Chevrolet Nova;18.0;6;250.0;105.0;3459.;16.0;75;US
Mercury Monarch;15.0;6;250.0;72.00;3432.;21.0;75;US
Ford Maverick;15.0;6;250.0;72.00;3158.;19.5;75;US
Pontiac Catalina;16.0;8;400.0;170.0;4668.;11.5;75;US
Chevrolet Bel Air;15.0;8;350.0;145.0;4440.;14.0;75;US
Plymouth Grand Fury;16.0;8;318.0;150.0;4498.;14.5;75;US
Ford LTD;14.0;8;351.0;148.0;4657.;13.5;75;US
Buick Century;17.0;6;231.0;110.0;3907.;21.0;75;US
Chevrolete Chevelle Malibu;16.0;6;250.0;105.0;3897.;18.5;75;US
AMC Matador;15.0;6;258.0;110.0;3730.;19.0;75;US
Plymouth Fury;18.0;6;225.0;95.00;3785.;19.0;75;US
Buick Skyhawk;21.0;6;231.0;110.0;3039.;15.0;75;US
Chevrolet Monza 2+2;20.0;8;262.0;110.0;3221.;13.5;75;US
Ford Mustang II;13.0;8;302.0;129.0;3169.;12.0;75;US
Toyota Corolla;29.0;4;97.00;75.00;2171.;16.0;75;Japan
Ford Pinto;23.0;4;140.0;83.00;2639.;17.0;75;US
AMC Gremlin;20.0;6;232.0;100.0;2914.;16.0;75;US
Pontiac Astro;23.0;4;140.0;78.00;2592.;18.5;75;US
Toyota Corolla;24.0;4;134.0;96.00;2702.;13.5;75;Japan
Volkswagen Dasher;25.0;4;90.00;71.00;2223.;16.5;75;Europe
Datsun 710;24.0;4;119.0;97.00;2545.;17.0;75;Japan
Ford Pinto;18.0;6;171.0;97.00;2984.;14.5;75;US
Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.0;75;Europe
AMC Pacer;19.0;6;232.0;90.00;3211.;17.0;75;US
Audi 100LS;23.0;4;115.0;95.00;2694.;15.0;75;Europe
Peugeot 504;23.0;4;120.0;88.00;2957.;17.0;75;Europe
Volvo 244DL;22.0;4;121.0;98.00;2945.;14.5;75;Europe
Saab 99LE;25.0;4;121.0;115.0;2671.;13.5;75;Europe
Honda Civic CVCC;33.0;4;91.00;53.00;1795.;17.5;75;Japan
Fiat 131;28.0;4;107.0;86.00;2464.;15.5;76;Europe
Opel 1900;25.0;4;116.0;81.00;2220.;16.9;76;Europe
Capri ii;25.0;4;140.0;92.00;2572.;14.9;76;US
Dodge Colt;26.0;4;98.00;79.00;2255.;17.7;76;US
Renault 12tl;27.0;4;101.0;83.00;2202.;15.3;76;Europe
Chevrolet Chevelle Malibu Classic;17.5;8;305.0;140.0;4215.;13.0;76;US
Dodge Coronet Brougham;16.0;8;318.0;150.0;4190.;13.0;76;US
AMC Matador;15.5;8;304.0;120.0;3962.;13.9;76;US
Ford Gran Torino;14.5;8;351.0;152.0;4215.;12.8;76;US
Plymouth Valiant;22.0;6;225.0;100.0;3233.;15.4;76;US
Chevrolet Nova;22.0;6;250.0;105.0;3353.;14.5;76;US
Ford Maverick;24.0;6;200.0;81.00;3012.;17.6;76;US
AMC Hornet;22.5;6;232.0;90.00;3085.;17.6;76;US
Chevrolet Chevette;29.0;4;85.00;52.00;2035.;22.2;76;US
Chevrolet Woody;24.5;4;98.00;60.00;2164.;22.1;76;US
Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.2;76;Europe
Honda Civic;33.0;4;91.00;53.00;1795.;17.4;76;Japan
Dodge Aspen SE;20.0;6;225.0;100.0;3651.;17.7;76;US
Ford Grenada ghia;18.0;6;250.0;78.00;3574.;21.0;76;US
Pontiac Ventura SJ;18.5;6;250.0;110.0;3645.;16.2;76;US
AMC Pacer d/l;17.5;6;258.0;95.00;3193.;17.8;76;US
Volkswagen Rabbit;29.5;4;97.00;71.00;1825.;12.2;76;Europe
Datsun B-210;32.0;4;85.00;70.00;1990.;17.0;76;Japan
Toyota Corolla;28.0;4;97.00;75.00;2155.;16.4;76;Japan
Ford Pinto;26.5;4;140.0;72.00;2565.;13.6;76;US
Volvo 245;20.0;4;130.0;102.0;3150.;15.7;76;Europe
Plymouth Volare Premier v8;13.0;8;318.0;150.0;3940.;13.2;76;US
Peugeot 504;19.0;4;120.0;88.00;3270.;21.9;76;Europe
Toyota Mark II;19.0;6;156.0;108.0;2930.;15.5;76;Japan
Mercedes-Benz 280s;16.5;6;168.0;120.0;3820.;16.7;76;Europe
Cadillac Seville;16.5;8;350.0;180.0;4380.;12.1;76;US
Chevrolet C10;13.0;8;350.0;145.0;4055.;12.0;76;US
Ford F108;13.0;8;302.0;130.0;3870.;15.0;76;US
Dodge D100;13.0;8;318.0;150.0;3755.;14.0;76;US
Honda Accord CVCC;31.5;4;98.00;68.00;2045.;18.5;77;Japan
Buick Opel Isuzu Deluxe;30.0;4;111.0;80.00;2155.;14.8;77;US
Renault 5 GTL;36.0;4;79.00;58.00;1825.;18.6;77;Europe
Plymouth Arrow GS;25.5;4;122.0;96.00;2300.;15.5;77;US
Datsun F-10 Hatchback;33.5;4;85.00;70.00;1945.;16.8;77;Japan
Chevrolet Caprice Classic;17.5;8;305.0;145.0;3880.;12.5;77;US
Oldsmobile Cutlass Supreme;17.0;8;260.0;110.0;4060.;19.0;77;US
Dodge Monaco Brougham;15.5;8;318.0;145.0;4140.;13.7;77;US
Mercury Cougar Brougham;15.0;8;302.0;130.0;4295.;14.9;77;US
Chevrolet Concours;17.5;6;250.0;110.0;3520.;16.4;77;US
Buick Skylark;20.5;6;231.0;105.0;3425.;16.9;77;US
Plymouth Volare Custom;19.0;6;225.0;100.0;3630.;17.7;77;US
Ford Grenada;18.5;6;250.0;98.00;3525.;19.0;77;US
Pontiac Grand Prix LJ;16.0;8;400.0;180.0;4220.;11.1;77;US
Chevrolet Monte Carlo Landau;15.5;8;350.0;170.0;4165.;11.4;77;US
Chrysler Cordoba;15.5;8;400.0;190.0;4325.;12.2;77;US
Ford Thunderbird;16.0;8;351.0;149.0;4335.;14.5;77;US
Volkswagen Rabbit Custom;29.0;4;97.00;78.00;1940.;14.5;77;Europe
Pontiac Sunbird Coupe;24.5;4;151.0;88.00;2740.;16.0;77;US
Toyota Corolla Liftback;26.0;4;97.00;75.00;2265.;18.2;77;Japan
Ford Mustang II 2+2;25.5;4;140.0;89.00;2755.;15.8;77;US
Chevrolet Chevette;30.5;4;98.00;63.00;2051.;17.0;77;US
Dodge Colt m/m;33.5;4;98.00;83.00;2075.;15.9;77;US
Subaru DL;30.0;4;97.00;67.00;1985.;16.4;77;Japan
Volkswagen Dasher;30.5;4;97.00;78.00;2190.;14.1;77;Europe
Datsun 810;22.0;6;146.0;97.00;2815.;14.5;77;Japan
BMW 320i;21.5;4;121.0;110.0;2600.;12.8;77;Europe
Mazda RX-4;21.5;3;80.00;110.0;2720.;13.5;77;Japan
Volkswagen Rabbit Custom Diesel;43.1;4;90.00;48.00;1985.;21.5;78;Europe
Ford Fiesta;36.1;4;98.00;66.00;1800.;14.4;78;US
Mazda GLC Deluxe;32.8;4;78.00;52.00;1985.;19.4;78;Japan
Datsun B210 GX;39.4;4;85.00;70.00;2070.;18.6;78;Japan
Honda Civic CVCC;36.1;4;91.00;60.00;1800.;16.4;78;Japan
Oldsmobile Cutlass Salon Brougham;19.9;8;260.0;110.0;3365.;15.5;78;US
Dodge Diplomat;19.4;8;318.0;140.0;3735.;13.2;78;US
Mercury Monarch ghia;20.2;8;302.0;139.0;3570.;12.8;78;US
Pontiac Phoenix LJ;19.2;6;231.0;105.0;3535.;19.2;78;US
Chevrolet Malibu;20.5;6;200.0;95.00;3155.;18.2;78;US
Ford Fairmont (auto);20.2;6;200.0;85.00;2965.;15.8;78;US
Ford Fairmont (man);25.1;4;140.0;88.00;2720.;15.4;78;US
Plymouth Volare;20.5;6;225.0;100.0;3430.;17.2;78;US
AMC Concord;19.4;6;232.0;90.00;3210.;17.2;78;US
Buick Century Special;20.6;6;231.0;105.0;3380.;15.8;78;US
Mercury Zephyr;20.8;6;200.0;85.00;3070.;16.7;78;US
Dodge Aspen;18.6;6;225.0;110.0;3620.;18.7;78;US
AMC Concord d/l;18.1;6;258.0;120.0;3410.;15.1;78;US
Chevrolet Monte Carlo Landau;19.2;8;305.0;145.0;3425.;13.2;78;US
Buick Regal Sport Coupe (turbo);17.7;6;231.0;165.0;3445.;13.4;78;US
Ford Futura;18.1;8;302.0;139.0;3205.;11.2;78;US
Dodge Magnum XE;17.5;8;318.0;140.0;4080.;13.7;78;US
Chevrolet Chevette;30.0;4;98.00;68.00;2155.;16.5;78;US
Toyota Corolla;27.5;4;134.0;95.00;2560.;14.2;78;Japan
Datsun 510;27.2;4;119.0;97.00;2300.;14.7;78;Japan
Dodge Omni;30.9;4;105.0;75.00;2230.;14.5;78;US
Toyota Celica GT Liftback;21.1;4;134.0;95.00;2515.;14.8;78;Japan
Plymouth Sapporo;23.2;4;156.0;105.0;2745.;16.7;78;US
Oldsmobile Starfire SX;23.8;4;151.0;85.00;2855.;17.6;78;US
Datsun 200-SX;23.9;4;119.0;97.00;2405.;14.9;78;Japan
Audi 5000;20.3;5;131.0;103.0;2830.;15.9;78;Europe
Volvo 264gl;17.0;6;163.0;125.0;3140.;13.6;78;Europe
Saab 99gle;21.6;4;121.0;115.0;2795.;15.7;78;Europe
Peugeot 604sl;16.2;6;163.0;133.0;3410.;15.8;78;Europe
Volkswagen Scirocco;31.5;4;89.00;71.00;1990.;14.9;78;Europe
Honda Accord LX;29.5;4;98.00;68.00;2135.;16.6;78;Japan
Pontiac Lemans V6;21.5;6;231.0;115.0;3245.;15.4;79;US
Mercury Zephyr 6;19.8;6;200.0;85.00;2990.;18.2;79;US
Ford Fairmont 4;22.3;4;140.0;88.00;2890.;17.3;79;US
AMC Concord DL 6;20.2;6;232.0;90.00;3265.;18.2;79;US
Dodge Aspen 6;20.6;6;225.0;110.0;3360.;16.6;79;US
Chevrolet Caprice Classic;17.0;8;305.0;130.0;3840.;15.4;79;US
Ford LTD Landau;17.6;8;302.0;129.0;3725.;13.4;79;US
Mercury Grand Marquis;16.5;8;351.0;138.0;3955.;13.2;79;US
Dodge St. Regis;18.2;8;318.0;135.0;3830.;15.2;79;US
Buick Estate Wagon (sw);16.9;8;350.0;155.0;4360.;14.9;79;US
Ford Country Squire (sw);15.5;8;351.0;142.0;4054.;14.3;79;US
Chevrolet Malibu Classic (sw);19.2;8;267.0;125.0;3605.;15.0;79;US
Chrysler Lebaron Town @ Country (sw);18.5;8;360.0;150.0;3940.;13.0;79;US
Volkswagen Rabbit Custom;31.9;4;89.00;71.00;1925.;14.0;79;Europe
Mazda GLC Deluxe;34.1;4;86.00;65.00;1975.;15.2;79;Japan
Dodge Colt Hatchback Custom;35.7;4;98.00;80.00;1915.;14.4;79;US
AMC Spirit DL;27.4;4;121.0;80.00;2670.;15.0;79;US
Mercedes Benz 300d;25.4;5;183.0;77.00;3530.;20.1;79;Europe
Cadillac Eldorado;23.0;8;350.0;125.0;3900.;17.4;79;US
Peugeot 504;27.2;4;141.0;71.00;3190.;24.8;79;Europe
Oldsmobile Cutlass Salon Brougham;23.9;8;260.0;90.00;3420.;22.2;79;US
Plymouth Horizon;34.2;4;105.0;70.00;2200.;13.2;79;US
Plymouth Horizon TC3;34.5;4;105.0;70.00;2150.;14.9;79;US
Datsun 210;31.8;4;85.00;65.00;2020.;19.2;79;Japan
Fiat Strada Custom;37.3;4;91.00;69.00;2130.;14.7;79;Europe
Buick Skylark Limited;28.4;4;151.0;90.00;2670.;16.0;79;US
Chevrolet Citation;28.8;6;173.0;115.0;2595.;11.3;79;US
Oldsmobile Omega Brougham;26.8;6;173.0;115.0;2700.;12.9;79;US
Pontiac Phoenix;33.5;4;151.0;90.00;2556.;13.2;79;US
Volkswagen Rabbit;41.5;4;98.00;76.00;2144.;14.7;80;Europe
Toyota Corolla Tercel;38.1;4;89.00;60.00;1968.;18.8;80;Japan
Chevrolet Chevette;32.1;4;98.00;70.00;2120.;15.5;80;US
Datsun 310;37.2;4;86.00;65.00;2019.;16.4;80;Japan
Chevrolet Citation;28.0;4;151.0;90.00;2678.;16.5;80;US
Ford Fairmont;26.4;4;140.0;88.00;2870.;18.1;80;US
AMC Concord;24.3;4;151.0;90.00;3003.;20.1;80;US
Dodge Aspen;19.1;6;225.0;90.00;3381.;18.7;80;US
Audi 4000;34.3;4;97.00;78.00;2188.;15.8;80;Europe
Toyota Corolla Liftback;29.8;4;134.0;90.00;2711.;15.5;80;Japan
Mazda 626;31.3;4;120.0;75.00;2542.;17.5;80;Japan
Datsun 510 Hatchback;37.0;4;119.0;92.00;2434.;15.0;80;Japan
Toyota Corolla;32.2;4;108.0;75.00;2265.;15.2;80;Japan
Mazda GLC;46.6;4;86.00;65.00;2110.;17.9;80;Japan
Dodge Colt;27.9;4;156.0;105.0;2800.;14.4;80;US
Datsun 210;40.8;4;85.00;65.00;2110.;19.2;80;Japan
Volkswagen Rabbit C (Diesel);44.3;4;90.00;48.00;2085.;21.7;80;Europe
Volkswagen Dasher (diesel);43.4;4;90.00;48.00;2335.;23.7;80;Europe
Audi 5000s (diesel);36.4;5;121.0;67.00;2950.;19.9;80;Europe
Mercedes-Benz 240d;30.0;4;146.0;67.00;3250.;21.8;80;Europe
Honda Civic 1500 gl;44.6;4;91.00;67.00;1850.;13.8;80;Japan
Renault Lecar Deluxe;40.9;4;85.00;0;1835.;17.3;80;Europe
Subaru DL;33.8;4;97.00;67.00;2145.;18.0;80;Japan
Volkswagen Rabbit;29.8;4;89.00;62.00;1845.;15.3;80;Europe
Datsun 280-ZX;32.7;6;168.0;132.0;2910.;11.4;80;Japan
Mazda RX-7 GS;23.7;3;70.00;100.0;2420.;12.5;80;Japan
Triumph TR7 Coupe;35.0;4;122.0;88.00;2500.;15.1;80;Europe
Ford Mustang Cobra;23.6;4;140.0;0;2905.;14.3;80;US
Honda Accord;32.4;4;107.0;72.00;2290.;17.0;80;Japan
Plymouth Reliant;27.2;4;135.0;84.00;2490.;15.7;81;US
Buick Skylark;26.6;4;151.0;84.00;2635.;16.4;81;US
Dodge Aries Wagon (sw);25.8;4;156.0;92.00;2620.;14.4;81;US
Chevrolet Citation;23.5;6;173.0;110.0;2725.;12.6;81;US
Plymouth Reliant;30.0;4;135.0;84.00;2385.;12.9;81;US
Toyota Starlet;39.1;4;79.00;58.00;1755.;16.9;81;Japan
Plymouth Champ;39.0;4;86.00;64.00;1875.;16.4;81;US
Honda Civic 1300;35.1;4;81.00;60.00;1760.;16.1;81;Japan
Subaru;32.3;4;97.00;67.00;2065.;17.8;81;Japan
Datsun 210 MPG;37.0;4;85.00;65.00;1975.;19.4;81;Japan
Toyota Tercel;37.7;4;89.00;62.00;2050.;17.3;81;Japan
Mazda GLC 4;34.1;4;91.00;68.00;1985.;16.0;81;Japan
Plymouth Horizon 4;34.7;4;105.0;63.00;2215.;14.9;81;US
Ford Escort 4W;34.4;4;98.00;65.00;2045.;16.2;81;US
Ford Escort 2H;29.9;4;98.00;65.00;2380.;20.7;81;US
Volkswagen Jetta;33.0;4;105.0;74.00;2190.;14.2;81;Europe
Renault 18i;34.5;4;100.0;0;2320.;15.8;81;Europe
Honda Prelude;33.7;4;107.0;75.00;2210.;14.4;81;Japan
Toyota Corolla;32.4;4;108.0;75.00;2350.;16.8;81;Japan
Datsun 200SX;32.9;4;119.0;100.0;2615.;14.8;81;Japan

***The TextIOWrapper class also provides a method readlines() that will read the entire file and return a list containing all the rows:***

In [139]:
with open(cars_file_path) as f:
    lst = f.readlines()

In [140]:
lst

['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin\n',
 'STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;INT;CAT\n',
 'Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US\n',
 'Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US\n',
 'Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US\n',
 'AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US\n',
 'Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US\n',
 'Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US\n',
 'Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US\n',
 'Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US\n',
 'Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US\n',
 'AMC Ambassador DPL;15.0;8;390.0;190.0;3850.;8.5;70;US\n',
 'Citroen DS-21 Pallas;0;4;133.0;115.0;3090.;17.5;70;Europe\n',
 'Chevrolet Chevelle Concours (sw);0;8;350.0;165.0;4142.;11.5;70;US\n',
 'Ford Torino (sw);0;8;351.0;153.0;4034.;11.0;70;US\n',
 'Plymouth Satellite (sw);0;8;383.0;175.0;4166.;10.5;70;US\n',
 'AMC Rebel SST (sw);0;8;360.0;175.0;3850.;11.0;70;US\n',
 'Dodge Challenger SE;15.0;8;383.0;170.0;3563.;10.0;70;US\n',
 "Plymouth 'Cuda 340;14.0;8;340.0;160.0;3609.;8.0;70;US\n",
 'Ford Mustang Boss 302;0;8;302.0;140.0;3353.;8.0;70;US\n',
 'Chevrolet Monte Carlo;15.0;8;400.0;150.0;3761.;9.5;70;US\n',
 'Buick Estate Wagon (sw);14.0;8;455.0;225.0;3086.;10.0;70;US\n',
 'Toyota Corolla Mark ii;24.0;4;113.0;95.00;2372.;15.0;70;Japan\n',
 'Plymouth Duster;22.0;6;198.0;95.00;2833.;15.5;70;US\n',
 'AMC Hornet;18.0;6;199.0;97.00;2774.;15.5;70;US\n',
 'Ford Maverick;21.0;6;200.0;85.00;2587.;16.0;70;US\n',
 'Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;70;Japan\n',
 'Volkswagen 1131 Deluxe Sedan;26.0;4;97.00;46.00;1835.;20.5;70;Europe\n',
 'Peugeot 504;25.0;4;110.0;87.00;2672.;17.5;70;Europe\n',
 'Audi 100 LS;24.0;4;107.0;90.00;2430.;14.5;70;Europe\n',
 'Saab 99e;25.0;4;104.0;95.00;2375.;17.5;70;Europe\n',
 'BMW 2002;26.0;4;121.0;113.0;2234.;12.5;70;Europe\n',
 'AMC Gremlin;21.0;6;199.0;90.00;2648.;15.0;70;US\n',
 'Ford F250;10.0;8;360.0;215.0;4615.;14.0;70;US\n',
 'Chevy C20;10.0;8;307.0;200.0;4376.;15.0;70;US\n',
 'Dodge D200;11.0;8;318.0;210.0;4382.;13.5;70;US\n',
 'Hi 1200D;9.0;8;304.0;193.0;4732.;18.5;70;US\n',
 'Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;71;Japan\n',
 'Chevrolet Vega 2300;28.0;4;140.0;90.00;2264.;15.5;71;US\n',
 'Toyota Corolla;25.0;4;113.0;95.00;2228.;14.0;71;Japan\n',
 'Ford Pinto;25.0;4;98.00;0;2046.;19.0;71;US\n',
 'Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe\n',
 'AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US\n',
 'Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US\n',
 'Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US\n',
 'Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US\n',
 'AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US\n',
 'Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US\n',
 'Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US\n',
 'Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US\n',
 'Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US\n',
 'Dodge Monaco (sw);12.0;8;383.0;180.0;4955.;11.5;71;US\n',
 'Ford Country Squire (sw);13.0;8;400.0;170.0;4746.;12.0;71;US\n',
 'Pontiac Safari (sw);13.0;8;400.0;175.0;5140.;12.0;71;US\n',
 'AMC Hornet Sportabout (sw);18.0;6;258.0;110.0;2962.;13.5;71;US\n',
 'Chevrolet Vega (sw);22.0;4;140.0;72.00;2408.;19.0;71;US\n',
 'Pontiac Firebird;19.0;6;250.0;100.0;3282.;15.0;71;US\n',
 'Ford Mustang;18.0;6;250.0;88.00;3139.;14.5;71;US\n',
 'Mercury Capri 2000;23.0;4;122.0;86.00;2220.;14.0;71;US\n',
 'Opel 1900;28.0;4;116.0;90.00;2123.;14.0;71;Europe\n',
 'Peugeot 304;30.0;4;79.00;70.00;2074.;19.5;71;Europe\n',
 'Fiat 124B;30.0;4;88.00;76.00;2065.;14.5;71;Europe\n',
 'Toyota Corolla 1200;31.0;4;71.00;65.00;1773.;19.0;71;Japan\n',
 'Datsun 1200;35.0;4;72.00;69.00;1613.;18.0;71;Japan\n',
 'Volkswagen Model 111;27.0;4;97.00;60.00;1834.;19.0;71;Europe\n',
 'Plymouth Cricket;26.0;4;91.00;70.00;1955.;20.5;71;US\n',
 'Toyota Corolla Hardtop;24.0;4;113.0;95.00;2278.;15.5;72;Japan\n',
 'Dodge Colt Hardtop;25.0;4;97.50;80.00;2126.;17.0;72;US\n',
 'Volkswagen Type 3;23.0;4;97.00;54.00;2254.;23.5;72;Europe\n',
 'Chevrolet Vega;20.0;4;140.0;90.00;2408.;19.5;72;US\n',
 'Ford Pinto Runabout;21.0;4;122.0;86.00;2226.;16.5;72;US\n',
 'Chevrolet Impala;13.0;8;350.0;165.0;4274.;12.0;72;US\n',
 'Pontiac Catalina;14.0;8;400.0;175.0;4385.;12.0;72;US\n',
 'Plymouth Fury III;15.0;8;318.0;150.0;4135.;13.5;72;US\n',
 'Ford Galaxie 500;14.0;8;351.0;153.0;4129.;13.0;72;US\n',
 'AMC Ambassador SST;17.0;8;304.0;150.0;3672.;11.5;72;US\n',
 'Mercury Marquis;11.0;8;429.0;208.0;4633.;11.0;72;US\n',
 'Buick LeSabre Custom;13.0;8;350.0;155.0;4502.;13.5;72;US\n',
 'Oldsmobile Delta 88 Royale;12.0;8;350.0;160.0;4456.;13.5;72;US\n',
 'Chrysler Newport Royal;13.0;8;400.0;190.0;4422.;12.5;72;US\n',
 'Mazda RX2 Coupe;19.0;3;70.00;97.00;2330.;13.5;72;Japan\n',
 'AMC Matador (sw);15.0;8;304.0;150.0;3892.;12.5;72;US\n',
 'Chevrolet Chevelle Concours (sw);13.0;8;307.0;130.0;4098.;14.0;72;US\n',
 'Ford Gran Torino (sw);13.0;8;302.0;140.0;4294.;16.0;72;US\n',
 'Plymouth Satellite Custom (sw);14.0;8;318.0;150.0;4077.;14.0;72;US\n',
 'Volvo 145e (sw);18.0;4;121.0;112.0;2933.;14.5;72;Europe\n',
 'Volkswagen 411 (sw);22.0;4;121.0;76.00;2511.;18.0;72;Europe\n',
 'Peugeot 504 (sw);21.0;4;120.0;87.00;2979.;19.5;72;Europe\n',
 'Renault 12 (sw);26.0;4;96.00;69.00;2189.;18.0;72;Europe\n',
 'Ford Pinto (sw);22.0;4;122.0;86.00;2395.;16.0;72;US\n',
 'Datsun 510 (sw);28.0;4;97.00;92.00;2288.;17.0;72;Japan\n',
 'Toyota Corolla Mark II (sw);23.0;4;120.0;97.00;2506.;14.5;72;Japan\n',
 'Dodge Colt (sw);28.0;4;98.00;80.00;2164.;15.0;72;US\n',
 'Toyota Corolla 1600 (sw);27.0;4;97.00;88.00;2100.;16.5;72;Japan\n',
 'Buick Century 350;13.0;8;350.0;175.0;4100.;13.0;73;US\n',
 'AMC Matador;14.0;8;304.0;150.0;3672.;11.5;73;US\n',
 'Chevrolet Malibu;13.0;8;350.0;145.0;3988.;13.0;73;US\n',
 'Ford Gran Torino;14.0;8;302.0;137.0;4042.;14.5;73;US\n',
 'Dodge Coronet Custom;15.0;8;318.0;150.0;3777.;12.5;73;US\n',
 'Mercury Marquis Brougham;12.0;8;429.0;198.0;4952.;11.5;73;US\n',
 'Chevrolet Caprice Classic;13.0;8;400.0;150.0;4464.;12.0;73;US\n',
 'Ford LTD;13.0;8;351.0;158.0;4363.;13.0;73;US\n',
 'Plymouth Fury Gran Sedan;14.0;8;318.0;150.0;4237.;14.5;73;US\n',
 'Chrysler New Yorker Brougham;13.0;8;440.0;215.0;4735.;11.0;73;US\n',
 'Buick Electra 225 Custom;12.0;8;455.0;225.0;4951.;11.0;73;US\n',
 'AMC Ambassador Brougham;13.0;8;360.0;175.0;3821.;11.0;73;US\n',
 'Plymouth Valiant;18.0;6;225.0;105.0;3121.;16.5;73;US\n',
 'Chevrolet Nova Custom;16.0;6;250.0;100.0;3278.;18.0;73;US\n',
 'AMC Hornet;18.0;6;232.0;100.0;2945.;16.0;73;US\n',
 'Ford Maverick;18.0;6;250.0;88.00;3021.;16.5;73;US\n',
 'Plymouth Duster;23.0;6;198.0;95.00;2904.;16.0;73;US\n',
 'Volkswagen Super Beetle;26.0;4;97.00;46.00;1950.;21.0;73;Europe\n',
 'Chevrolet Impala;11.0;8;400.0;150.0;4997.;14.0;73;US\n',
 'Ford Country;12.0;8;400.0;167.0;4906.;12.5;73;US\n',
 'Plymouth Custom Suburb;13.0;8;360.0;170.0;4654.;13.0;73;US\n',
 'Oldsmobile Vista Cruiser;12.0;8;350.0;180.0;4499.;12.5;73;US\n',
 'AMC Gremlin;18.0;6;232.0;100.0;2789.;15.0;73;US\n',
 'Toyota Camry;20.0;4;97.00;88.00;2279.;19.0;73;Japan\n',
 'Chevrolet Vega;21.0;4;140.0;72.00;2401.;19.5;73;US\n',
 'Datsun 610;22.0;4;108.0;94.00;2379.;16.5;73;Japan\n',
 'Mazda RX3;18.0;3;70.00;90.00;2124.;13.5;73;Japan\n',
 'Ford Pinto;19.0;4;122.0;85.00;2310.;18.5;73;US\n',
 'Mercury Capri v6;21.0;6;155.0;107.0;2472.;14.0;73;US\n',
 'Fiat 124 Sport Coupe;26.0;4;98.00;90.00;2265.;15.5;73;Europe\n',
 'Chevrolet Monte Carlo S;15.0;8;350.0;145.0;4082.;13.0;73;US\n',
 'Pontiac Grand Prix;16.0;8;400.0;230.0;4278.;9.50;73;US\n',
 'Fiat 128;29.0;4;68.00;49.00;1867.;19.5;73;Europe\n',
 'Opel Manta;24.0;4;116.0;75.00;2158.;15.5;73;Europe\n',
 'Audi 100LS;20.0;4;114.0;91.00;2582.;14.0;73;Europe\n',
 'Volvo 144ea;19.0;4;121.0;112.0;2868.;15.5;73;Europe\n',
 'Dodge Dart Custom;15.0;8;318.0;150.0;3399.;11.0;73;US\n',
 'Saab 99le;24.0;4;121.0;110.0;2660.;14.0;73;Europe\n',
 'Toyota Mark II;20.0;6;156.0;122.0;2807.;13.5;73;Japan\n',
 'Oldsmobile Omega;11.0;8;350.0;180.0;3664.;11.0;73;US\n',
 'Plymouth Duster;20.0;6;198.0;95.00;3102.;16.5;74;US\n',
 'Ford Maverick;21.0;6;200.0;0;2875.;17.0;74;US\n',
 'AMC Hornet;19.0;6;232.0;100.0;2901.;16.0;74;US\n',
 'Chevrolet Nova;15.0;6;250.0;100.0;3336.;17.0;74;US\n',
 'Datsun B210;31.0;4;79.00;67.00;1950.;19.0;74;Japan\n',
 'Ford Pinto;26.0;4;122.0;80.00;2451.;16.5;74;US\n',
 'Toyota Corolla 1200;32.0;4;71.00;65.00;1836.;21.0;74;Japan\n',
 'Chevrolet Vega;25.0;4;140.0;75.00;2542.;17.0;74;US\n',
 'Chevrolet Chevelle Malibu Classic;16.0;6;250.0;100.0;3781.;17.0;74;US\n',
 'AMC Matador;16.0;6;258.0;110.0;3632.;18.0;74;US\n',
 'Plymouth Satellite Sebring;18.0;6;225.0;105.0;3613.;16.5;74;US\n',
 'Ford Gran Torino;16.0;8;302.0;140.0;4141.;14.0;74;US\n',
 'Buick Century Luxus (sw);13.0;8;350.0;150.0;4699.;14.5;74;US\n',
 'Dodge Coronet Custom (sw);14.0;8;318.0;150.0;4457.;13.5;74;US\n',
 'Ford Gran Torino (sw);14.0;8;302.0;140.0;4638.;16.0;74;US\n',
 'AMC Matador (sw);14.0;8;304.0;150.0;4257.;15.5;74;US\n',
 'Audi Fox;29.0;4;98.00;83.00;2219.;16.5;74;Europe\n',
 'Volkswagen Dasher;26.0;4;79.00;67.00;1963.;15.5;74;Europe\n',
 'Opel Manta;26.0;4;97.00;78.00;2300.;14.5;74;Europe\n',
 'Toyota Corolla;31.0;4;76.00;52.00;1649.;16.5;74;Japan\n',
 'Datsun 710;32.0;4;83.00;61.00;2003.;19.0;74;Japan\n',
 'Dodge Colt;28.0;4;90.00;75.00;2125.;14.5;74;US\n',
 'Fiat 128;24.0;4;90.00;75.00;2108.;15.5;74;Europe\n',
 'Fiat 124 TC;26.0;4;116.0;75.00;2246.;14.0;74;Europe\n',
 'Honda Civic;24.0;4;120.0;97.00;2489.;15.0;74;Japan\n',
 'Subaru;26.0;4;108.0;93.00;2391.;15.5;74;Japan\n',
 'Fiat x1.9;31.0;4;79.00;67.00;2000.;16.0;74;Europe\n',
 'Plymouth Valiant Custom;19.0;6;225.0;95.00;3264.;16.0;75;US\n',
 'Chevrolet Nova;18.0;6;250.0;105.0;3459.;16.0;75;US\n',
 'Mercury Monarch;15.0;6;250.0;72.00;3432.;21.0;75;US\n',
 'Ford Maverick;15.0;6;250.0;72.00;3158.;19.5;75;US\n',
 'Pontiac Catalina;16.0;8;400.0;170.0;4668.;11.5;75;US\n',
 'Chevrolet Bel Air;15.0;8;350.0;145.0;4440.;14.0;75;US\n',
 'Plymouth Grand Fury;16.0;8;318.0;150.0;4498.;14.5;75;US\n',
 'Ford LTD;14.0;8;351.0;148.0;4657.;13.5;75;US\n',
 'Buick Century;17.0;6;231.0;110.0;3907.;21.0;75;US\n',
 'Chevrolete Chevelle Malibu;16.0;6;250.0;105.0;3897.;18.5;75;US\n',
 'AMC Matador;15.0;6;258.0;110.0;3730.;19.0;75;US\n',
 'Plymouth Fury;18.0;6;225.0;95.00;3785.;19.0;75;US\n',
 'Buick Skyhawk;21.0;6;231.0;110.0;3039.;15.0;75;US\n',
 'Chevrolet Monza 2+2;20.0;8;262.0;110.0;3221.;13.5;75;US\n',
 'Ford Mustang II;13.0;8;302.0;129.0;3169.;12.0;75;US\n',
 'Toyota Corolla;29.0;4;97.00;75.00;2171.;16.0;75;Japan\n',
 'Ford Pinto;23.0;4;140.0;83.00;2639.;17.0;75;US\n',
 'AMC Gremlin;20.0;6;232.0;100.0;2914.;16.0;75;US\n',
 'Pontiac Astro;23.0;4;140.0;78.00;2592.;18.5;75;US\n',
 'Toyota Corolla;24.0;4;134.0;96.00;2702.;13.5;75;Japan\n',
 'Volkswagen Dasher;25.0;4;90.00;71.00;2223.;16.5;75;Europe\n',
 'Datsun 710;24.0;4;119.0;97.00;2545.;17.0;75;Japan\n',
 'Ford Pinto;18.0;6;171.0;97.00;2984.;14.5;75;US\n',
 'Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.0;75;Europe\n',
 'AMC Pacer;19.0;6;232.0;90.00;3211.;17.0;75;US\n',
 'Audi 100LS;23.0;4;115.0;95.00;2694.;15.0;75;Europe\n',
 'Peugeot 504;23.0;4;120.0;88.00;2957.;17.0;75;Europe\n',
 'Volvo 244DL;22.0;4;121.0;98.00;2945.;14.5;75;Europe\n',
 'Saab 99LE;25.0;4;121.0;115.0;2671.;13.5;75;Europe\n',
 'Honda Civic CVCC;33.0;4;91.00;53.00;1795.;17.5;75;Japan\n',
 'Fiat 131;28.0;4;107.0;86.00;2464.;15.5;76;Europe\n',
 'Opel 1900;25.0;4;116.0;81.00;2220.;16.9;76;Europe\n',
 'Capri ii;25.0;4;140.0;92.00;2572.;14.9;76;US\n',
 'Dodge Colt;26.0;4;98.00;79.00;2255.;17.7;76;US\n',
 'Renault 12tl;27.0;4;101.0;83.00;2202.;15.3;76;Europe\n',
 'Chevrolet Chevelle Malibu Classic;17.5;8;305.0;140.0;4215.;13.0;76;US\n',
 'Dodge Coronet Brougham;16.0;8;318.0;150.0;4190.;13.0;76;US\n',
 'AMC Matador;15.5;8;304.0;120.0;3962.;13.9;76;US\n',
 'Ford Gran Torino;14.5;8;351.0;152.0;4215.;12.8;76;US\n',
 'Plymouth Valiant;22.0;6;225.0;100.0;3233.;15.4;76;US\n',
 'Chevrolet Nova;22.0;6;250.0;105.0;3353.;14.5;76;US\n',
 'Ford Maverick;24.0;6;200.0;81.00;3012.;17.6;76;US\n',
 'AMC Hornet;22.5;6;232.0;90.00;3085.;17.6;76;US\n',
 'Chevrolet Chevette;29.0;4;85.00;52.00;2035.;22.2;76;US\n',
 'Chevrolet Woody;24.5;4;98.00;60.00;2164.;22.1;76;US\n',
 'Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.2;76;Europe\n',
 'Honda Civic;33.0;4;91.00;53.00;1795.;17.4;76;Japan\n',
 'Dodge Aspen SE;20.0;6;225.0;100.0;3651.;17.7;76;US\n',
 'Ford Grenada ghia;18.0;6;250.0;78.00;3574.;21.0;76;US\n',
 'Pontiac Ventura SJ;18.5;6;250.0;110.0;3645.;16.2;76;US\n',
 'AMC Pacer d/l;17.5;6;258.0;95.00;3193.;17.8;76;US\n',
 'Volkswagen Rabbit;29.5;4;97.00;71.00;1825.;12.2;76;Europe\n',
 'Datsun B-210;32.0;4;85.00;70.00;1990.;17.0;76;Japan\n',
 'Toyota Corolla;28.0;4;97.00;75.00;2155.;16.4;76;Japan\n',
 'Ford Pinto;26.5;4;140.0;72.00;2565.;13.6;76;US\n',
 'Volvo 245;20.0;4;130.0;102.0;3150.;15.7;76;Europe\n',
 'Plymouth Volare Premier v8;13.0;8;318.0;150.0;3940.;13.2;76;US\n',
 'Peugeot 504;19.0;4;120.0;88.00;3270.;21.9;76;Europe\n',
 'Toyota Mark II;19.0;6;156.0;108.0;2930.;15.5;76;Japan\n',
 'Mercedes-Benz 280s;16.5;6;168.0;120.0;3820.;16.7;76;Europe\n',
 'Cadillac Seville;16.5;8;350.0;180.0;4380.;12.1;76;US\n',
 'Chevrolet C10;13.0;8;350.0;145.0;4055.;12.0;76;US\n',
 'Ford F108;13.0;8;302.0;130.0;3870.;15.0;76;US\n',
 'Dodge D100;13.0;8;318.0;150.0;3755.;14.0;76;US\n',
 'Honda Accord CVCC;31.5;4;98.00;68.00;2045.;18.5;77;Japan\n',
 'Buick Opel Isuzu Deluxe;30.0;4;111.0;80.00;2155.;14.8;77;US\n',
 'Renault 5 GTL;36.0;4;79.00;58.00;1825.;18.6;77;Europe\n',
 'Plymouth Arrow GS;25.5;4;122.0;96.00;2300.;15.5;77;US\n',
 'Datsun F-10 Hatchback;33.5;4;85.00;70.00;1945.;16.8;77;Japan\n',
 'Chevrolet Caprice Classic;17.5;8;305.0;145.0;3880.;12.5;77;US\n',
 'Oldsmobile Cutlass Supreme;17.0;8;260.0;110.0;4060.;19.0;77;US\n',
 'Dodge Monaco Brougham;15.5;8;318.0;145.0;4140.;13.7;77;US\n',
 'Mercury Cougar Brougham;15.0;8;302.0;130.0;4295.;14.9;77;US\n',
 'Chevrolet Concours;17.5;6;250.0;110.0;3520.;16.4;77;US\n',
 'Buick Skylark;20.5;6;231.0;105.0;3425.;16.9;77;US\n',
 'Plymouth Volare Custom;19.0;6;225.0;100.0;3630.;17.7;77;US\n',
 'Ford Grenada;18.5;6;250.0;98.00;3525.;19.0;77;US\n',
 'Pontiac Grand Prix LJ;16.0;8;400.0;180.0;4220.;11.1;77;US\n',
 'Chevrolet Monte Carlo Landau;15.5;8;350.0;170.0;4165.;11.4;77;US\n',
 'Chrysler Cordoba;15.5;8;400.0;190.0;4325.;12.2;77;US\n',
 'Ford Thunderbird;16.0;8;351.0;149.0;4335.;14.5;77;US\n',
 'Volkswagen Rabbit Custom;29.0;4;97.00;78.00;1940.;14.5;77;Europe\n',
 'Pontiac Sunbird Coupe;24.5;4;151.0;88.00;2740.;16.0;77;US\n',
 'Toyota Corolla Liftback;26.0;4;97.00;75.00;2265.;18.2;77;Japan\n',
 'Ford Mustang II 2+2;25.5;4;140.0;89.00;2755.;15.8;77;US\n',
 'Chevrolet Chevette;30.5;4;98.00;63.00;2051.;17.0;77;US\n',
 'Dodge Colt m/m;33.5;4;98.00;83.00;2075.;15.9;77;US\n',
 'Subaru DL;30.0;4;97.00;67.00;1985.;16.4;77;Japan\n',
 'Volkswagen Dasher;30.5;4;97.00;78.00;2190.;14.1;77;Europe\n',
 'Datsun 810;22.0;6;146.0;97.00;2815.;14.5;77;Japan\n',
 'BMW 320i;21.5;4;121.0;110.0;2600.;12.8;77;Europe\n',
 'Mazda RX-4;21.5;3;80.00;110.0;2720.;13.5;77;Japan\n',
 'Volkswagen Rabbit Custom Diesel;43.1;4;90.00;48.00;1985.;21.5;78;Europe\n',
 'Ford Fiesta;36.1;4;98.00;66.00;1800.;14.4;78;US\n',
 'Mazda GLC Deluxe;32.8;4;78.00;52.00;1985.;19.4;78;Japan\n',
 'Datsun B210 GX;39.4;4;85.00;70.00;2070.;18.6;78;Japan\n',
 'Honda Civic CVCC;36.1;4;91.00;60.00;1800.;16.4;78;Japan\n',
 'Oldsmobile Cutlass Salon Brougham;19.9;8;260.0;110.0;3365.;15.5;78;US\n',
 'Dodge Diplomat;19.4;8;318.0;140.0;3735.;13.2;78;US\n',
 'Mercury Monarch ghia;20.2;8;302.0;139.0;3570.;12.8;78;US\n',
 'Pontiac Phoenix LJ;19.2;6;231.0;105.0;3535.;19.2;78;US\n',
 'Chevrolet Malibu;20.5;6;200.0;95.00;3155.;18.2;78;US\n',
 'Ford Fairmont (auto);20.2;6;200.0;85.00;2965.;15.8;78;US\n',
 'Ford Fairmont (man);25.1;4;140.0;88.00;2720.;15.4;78;US\n',
 'Plymouth Volare;20.5;6;225.0;100.0;3430.;17.2;78;US\n',
 'AMC Concord;19.4;6;232.0;90.00;3210.;17.2;78;US\n',
 'Buick Century Special;20.6;6;231.0;105.0;3380.;15.8;78;US\n',
 'Mercury Zephyr;20.8;6;200.0;85.00;3070.;16.7;78;US\n',
 'Dodge Aspen;18.6;6;225.0;110.0;3620.;18.7;78;US\n',
 'AMC Concord d/l;18.1;6;258.0;120.0;3410.;15.1;78;US\n',
 'Chevrolet Monte Carlo Landau;19.2;8;305.0;145.0;3425.;13.2;78;US\n',
 'Buick Regal Sport Coupe (turbo);17.7;6;231.0;165.0;3445.;13.4;78;US\n',
 'Ford Futura;18.1;8;302.0;139.0;3205.;11.2;78;US\n',
 'Dodge Magnum XE;17.5;8;318.0;140.0;4080.;13.7;78;US\n',
 'Chevrolet Chevette;30.0;4;98.00;68.00;2155.;16.5;78;US\n',
 'Toyota Corolla;27.5;4;134.0;95.00;2560.;14.2;78;Japan\n',
 'Datsun 510;27.2;4;119.0;97.00;2300.;14.7;78;Japan\n',
 'Dodge Omni;30.9;4;105.0;75.00;2230.;14.5;78;US\n',
 'Toyota Celica GT Liftback;21.1;4;134.0;95.00;2515.;14.8;78;Japan\n',
 'Plymouth Sapporo;23.2;4;156.0;105.0;2745.;16.7;78;US\n',
 'Oldsmobile Starfire SX;23.8;4;151.0;85.00;2855.;17.6;78;US\n',
 'Datsun 200-SX;23.9;4;119.0;97.00;2405.;14.9;78;Japan\n',
 'Audi 5000;20.3;5;131.0;103.0;2830.;15.9;78;Europe\n',
 'Volvo 264gl;17.0;6;163.0;125.0;3140.;13.6;78;Europe\n',
 'Saab 99gle;21.6;4;121.0;115.0;2795.;15.7;78;Europe\n',
 'Peugeot 604sl;16.2;6;163.0;133.0;3410.;15.8;78;Europe\n',
 'Volkswagen Scirocco;31.5;4;89.00;71.00;1990.;14.9;78;Europe\n',
 'Honda Accord LX;29.5;4;98.00;68.00;2135.;16.6;78;Japan\n',
 'Pontiac Lemans V6;21.5;6;231.0;115.0;3245.;15.4;79;US\n',
 'Mercury Zephyr 6;19.8;6;200.0;85.00;2990.;18.2;79;US\n',
 'Ford Fairmont 4;22.3;4;140.0;88.00;2890.;17.3;79;US\n',
 'AMC Concord DL 6;20.2;6;232.0;90.00;3265.;18.2;79;US\n',
 'Dodge Aspen 6;20.6;6;225.0;110.0;3360.;16.6;79;US\n',
 'Chevrolet Caprice Classic;17.0;8;305.0;130.0;3840.;15.4;79;US\n',
 'Ford LTD Landau;17.6;8;302.0;129.0;3725.;13.4;79;US\n',
 'Mercury Grand Marquis;16.5;8;351.0;138.0;3955.;13.2;79;US\n',
 'Dodge St. Regis;18.2;8;318.0;135.0;3830.;15.2;79;US\n',
 'Buick Estate Wagon (sw);16.9;8;350.0;155.0;4360.;14.9;79;US\n',
 'Ford Country Squire (sw);15.5;8;351.0;142.0;4054.;14.3;79;US\n',
 'Chevrolet Malibu Classic (sw);19.2;8;267.0;125.0;3605.;15.0;79;US\n',
 'Chrysler Lebaron Town @ Country (sw);18.5;8;360.0;150.0;3940.;13.0;79;US\n',
 'Volkswagen Rabbit Custom;31.9;4;89.00;71.00;1925.;14.0;79;Europe\n',
 'Mazda GLC Deluxe;34.1;4;86.00;65.00;1975.;15.2;79;Japan\n',
 'Dodge Colt Hatchback Custom;35.7;4;98.00;80.00;1915.;14.4;79;US\n',
 'AMC Spirit DL;27.4;4;121.0;80.00;2670.;15.0;79;US\n',
 'Mercedes Benz 300d;25.4;5;183.0;77.00;3530.;20.1;79;Europe\n',
 'Cadillac Eldorado;23.0;8;350.0;125.0;3900.;17.4;79;US\n',
 'Peugeot 504;27.2;4;141.0;71.00;3190.;24.8;79;Europe\n',
 'Oldsmobile Cutlass Salon Brougham;23.9;8;260.0;90.00;3420.;22.2;79;US\n',
 'Plymouth Horizon;34.2;4;105.0;70.00;2200.;13.2;79;US\n',
 'Plymouth Horizon TC3;34.5;4;105.0;70.00;2150.;14.9;79;US\n',
 'Datsun 210;31.8;4;85.00;65.00;2020.;19.2;79;Japan\n',
 'Fiat Strada Custom;37.3;4;91.00;69.00;2130.;14.7;79;Europe\n',
 'Buick Skylark Limited;28.4;4;151.0;90.00;2670.;16.0;79;US\n',
 'Chevrolet Citation;28.8;6;173.0;115.0;2595.;11.3;79;US\n',
 'Oldsmobile Omega Brougham;26.8;6;173.0;115.0;2700.;12.9;79;US\n',
 'Pontiac Phoenix;33.5;4;151.0;90.00;2556.;13.2;79;US\n',
 'Volkswagen Rabbit;41.5;4;98.00;76.00;2144.;14.7;80;Europe\n',
 'Toyota Corolla Tercel;38.1;4;89.00;60.00;1968.;18.8;80;Japan\n',
 'Chevrolet Chevette;32.1;4;98.00;70.00;2120.;15.5;80;US\n',
 'Datsun 310;37.2;4;86.00;65.00;2019.;16.4;80;Japan\n',
 'Chevrolet Citation;28.0;4;151.0;90.00;2678.;16.5;80;US\n',
 'Ford Fairmont;26.4;4;140.0;88.00;2870.;18.1;80;US\n',
 'AMC Concord;24.3;4;151.0;90.00;3003.;20.1;80;US\n',
 'Dodge Aspen;19.1;6;225.0;90.00;3381.;18.7;80;US\n',
 'Audi 4000;34.3;4;97.00;78.00;2188.;15.8;80;Europe\n',
 'Toyota Corolla Liftback;29.8;4;134.0;90.00;2711.;15.5;80;Japan\n',
 'Mazda 626;31.3;4;120.0;75.00;2542.;17.5;80;Japan\n',
 'Datsun 510 Hatchback;37.0;4;119.0;92.00;2434.;15.0;80;Japan\n',

#### Sorting Iterables

The sorted() function will in fact work with any iterable, not just sequences. For this example, we'll create an iterable of random numbers, and then sort it.

In [146]:
import random

class Random_Num:
    def __init__(self, length, *, seed=0, lower=0, upper=10):
        self.length = length
        self.seed   = seed
        self.lower  = lower
        self.upper  = upper
        
    def __iter__(self):
        return self.Random_Num_Iterable(self.length, 
                                        seed = self.seed, 
                                        lower = self.lower, 
                                        upper = self.upper)
    
    class Random_Num_Iterable:
        def __init__(self, length, seed, lower, upper):
            self.length = length
            self.lower  = lower
            self.upper  = upper
            self.num_req = 0
            random.seed(seed)
            
        def __iter__(self):
            return self
        
        def __next__(self):
            if self.num_req >= self.length:
                raise StopIteration
            else:
                result = random.randint(self.lower, self.upper)
                self.num_req += 1
                return result

In [148]:
rand = Random_Num(15, seed=3, lower=0, upper=10)

In [149]:
for num in rand:
    print(num)

3
9
8
2
5
9
7
10
9
1
9
0
7
4
8

In [150]:
sorted(rand)

[0, 1, 2, 3, 4, 5, 7, 7, 8, 8, 9, 9, 9, 9, 10]

In [152]:
rand_set = set(rand)
rand_set

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10}

In [153]:
sorted(rand, reverse=True)

[10, 9, 9, 9, 9, 8, 8, 7, 7, 5, 4, 3, 2, 1, 0]

#### General Note

What happens is that Python will first try to get the iterator by invoking the __iter__ method on our object.

If it does not have that method, it will look for __getitem__ next - if it's there it will create an iterator for us that will leverage __getitem__ and the fact that sequence indices should start at 0.

If neither __iter__ nor __getitem__ are found, then we'll get an exception such as this one:

In [154]:
class Squares:
    def __init__(self, n):
        self._n = n
    
    def __len__(self):
        return self._n
    
    def __getitem__(self, i):
        if i >= self._n:
            raise IndexError
        else:
            return i ** 2

In [155]:
sq = Squares(5)

In [156]:
for i in sq:
    print(i)

0
1
4
9
16

In [157]:
sq_iter = iter(sq)

In [158]:
next(sq_iter)

0

In [160]:
for i in 10:  # int dont have __getitem__ or __iter__, hence exception
    print(i)

TypeError: 'int' object is not iterable

### Iterating Callables, Delegating Iterators, Reversed Iteration, Reversing Sequences

In [161]:
# Please refer deepnote - Session 14 Instructor's Notes.ipynb for these topics