In [7]:
pip install faker

Requirement already satisfied: faker in c:\users\anila\anaconda3\lib\site-packages (8.10.0)
Requirement already satisfied: text-unidecode==1.3 in c:\users\anila\anaconda3\lib\site-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\anila\anaconda3\lib\site-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\anila\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 21.1.3 is available.
You should consider upgrading via the 'C:\Users\anila\anaconda3\python.exe -m pip install --upgrade pip' command.

In [8]:
from faker import Faker
from collections import namedtuple
from statistics import mode, mean
from datetime import datetime, date
from time import perf_counter
import random
import string
from random import randint, uniform
import matplotlib.pyplot as plt

### Use the Faker (Links to an external site.) library to get 10000 random profiles. Using namedtuple, calculate the largest blood type, mean-current_location, oldest_person_age, and average age

In [9]:
generate = Faker()

In [10]:
indiv_profile = namedtuple('indiv_profile', generate.profile().keys()) 
# Creating a namedtuple named 'indiv_profile' that will have fields same as fake profile we generate via Faker module
collect_profile = namedtuple('collect_profile', 'info')
# Creating a namedtuple named 'collect_profile' that has a field named 'info'

In [11]:
for i in range(10_000):
    indiv = indiv_profile(**generate.profile())
    if i == 0:
        all_profiles = collect_profile(indiv)
    else:
        all_profiles += collect_profile(indiv)

In [12]:
len(all_profiles)

10000

In [13]:
all_profiles[1]._fields

('job',
 'company',
 'ssn',
 'residence',
 'current_location',
 'blood_group',
 'website',
 'username',
 'name',
 'sex',
 'address',
 'mail',
 'birthdate')

***Using namedtuple, calculate the largest blood type***

In [14]:
def common_blood_type(all_named_tup):
    start = perf_counter()
    common_grp = mode(list(map(lambda profile: profile[5], all_named_tup)))
    end = perf_counter()
    return common_grp, end-start

In [15]:
common_grp, elapsed = common_blood_type(all_profiles)
print(f'common_grp, elapsed : {common_grp, elapsed}')

common_grp, elapsed : ('B+', 0.004006499999377411)

***Using namedtuple, calculate the mean-current_location***

In [16]:
type(all_profiles[0].current_location)

tuple

In [17]:
all_profiles[0][4]

(Decimal('-84.436623'), Decimal('-102.780618'))

In [18]:
all_profiles[0][4][0]

Decimal('-84.436623')

In [19]:
def mean_current_loc(all_named_tup):
    start = perf_counter()
    x_mean = mean(list(map(lambda profile:profile[4][0], all_named_tup)))
    y_mean = mean(list(map(lambda profile:profile[4][1], all_named_tup)))
    end = perf_counter()
    mean_loc = (x_mean, y_mean)
    return mean_loc, end-start

In [20]:
mean_loc, elapsed = mean_current_loc(all_profiles)
print(f'mean_loc, elapsed : {mean_loc, elapsed}')

mean_loc, elapsed : ((Decimal('-0.5124775772'), Decimal('0.3434810434')), 0.04282029999922088)

***Using namedtuple, calculate the oldest_person_age***

In [21]:
all_profiles[0][-1]

datetime.date(1911, 3, 1)

In [24]:
def oldest_person_age(all_named_tup):
    start = perf_counter()
    oldest_dob = min(list(map(lambda profile:profile[-1], all_named_tup)))
    current_dt = date.today()
    end = perf_counter()
    return round((current_dt - oldest_dob).days/365, 2), end-start

In [25]:
oldest_age, elapsed = oldest_person_age(all_profiles)
print(f'oldest_age, elapsed : {oldest_age},  {elapsed}')

oldest_age, elapsed : 116.06,  0.0018221999998786487

***Using namedtuple, calculate the average age***

In [26]:
def average_age(all_named_tup):
    start = perf_counter()
    current_dt = date.today() 
    avg_age = mean(list(map(lambda profile:(current_dt - profile[-1]).days/365, all_named_tup)))
    end = perf_counter()
    return round(avg_age, 2), end-start

In [27]:
avg_age, elapsed = average_age(all_profiles)
print(f'Avg_age, elapsed : {avg_age},  {elapsed}')

Avg_age, elapsed : 58.13,  0.018847299999833922

### Do the same thing above using a dictionary. Prove that namedtuple is faster

In [31]:
sample_dict = {}
for item in range(3):
    sample_dict[item] = generate.profile()
sample_dict

{0: {'job': 'Chief Marketing Officer',
  'company': 'Bennett Group',
  'ssn': '465-33-9224',
  'residence': '99931 Robert Plains\nBishopshire, MI 83102',
  'current_location': (Decimal('-9.1922575'), Decimal('-80.748268')),
  'blood_group': 'AB+',
  'website': ['http://www.miller-martin.biz/'],
  'username': 'reginawoods',
  'name': 'Alex Peterson',
  'sex': 'M',
  'address': '641 Gardner Mill Suite 347\nPriscillabury, ME 19456',
  'mail': 'davidsanders@hotmail.com',
  'birthdate': datetime.date(1941, 7, 6)},
 1: {'job': 'Psychotherapist, child',
  'company': 'Price and Sons',
  'ssn': '344-39-5662',
  'residence': '4610 Boyer Glen\nSouth Amy, WY 45356',
  'current_location': (Decimal('-59.3401445'), Decimal('-37.766709')),
  'blood_group': 'AB-',
  'website': ['http://vasquez.net/', 'https://www.sutton-gonzalez.net/'],
  'username': 'mollymorgan',
  'name': 'Melanie Hensley',
  'sex': 'F',
  'address': '788 Vanessa Point Apt. 096\nJonesmouth, SD 24985',
  'mail': 'mlong@yahoo.com',
  'birthdate': datetime.date(1962, 1, 8)},
 2: {'job': 'Tourist information centre manager',
  'company': 'Perez PLC',
  'ssn': '879-07-5636',
  'residence': '29430 Brittany Underpass\nNew Jessicatown, IN 84181',
  'current_location': (Decimal('47.387278'), Decimal('104.420958')),
  'blood_group': 'O+',
  'website': ['http://melendez.com/',
   'https://www.powell.com/',
   'https://jennings.com/',
   'https://carroll-wilkinson.net/'],
  'username': 'victoriawhite',
  'name': 'Samuel Tapia',
  'sex': 'M',
  'address': '2007 Matthew Cape Apt. 189\nTroymouth, NJ 47696',
  'mail': 'sarah56@gmail.com',
  'birthdate': datetime.date(2013, 8, 29)}}

In [37]:
lst_dob = []
for prof in sample_dict.values():
    print(prof['name'])
    lst_dob.append(prof['birthdate'])
lst_dob

Alex Peterson
Melanie Hensley
Samuel Tapia

[datetime.date(1941, 7, 6),
 datetime.date(1962, 1, 8),
 datetime.date(2013, 8, 29)]

In [28]:
all_profiles_dict = {}
for item in range(10_000):
    all_profiles_dict[item] = generate.profile()

In [32]:
all_profiles_dict[2]

{'job': 'Exhibitions officer, museum/gallery',
 'company': 'Alexander Group',
 'ssn': '308-57-3806',
 'residence': 'PSC 0943, Box 0496\nAPO AE 82629',
 'current_location': (Decimal('42.087442'), Decimal('-83.322281')),
 'blood_group': 'AB-',
 'website': ['http://hickman.com/',
  'http://waller-kelly.biz/',
  'https://simmons.org/'],
 'username': 'stacy31',
 'name': 'Amy Callahan',
 'sex': 'F',
 'address': 'PSC 6252, Box 3786\nAPO AA 83055',
 'mail': 'lori98@gmail.com',
 'birthdate': datetime.date(1982, 8, 23)}

***Get most common blood-group***

In [38]:
def common_blood_type_d(all_dict):
    start = perf_counter()
    common_grp = mode(list(map(lambda profile: profile['blood_group'], all_dict.values())))
    end = perf_counter()
    return common_grp, end-start

In [39]:
common_grp, elapsed = common_blood_type_d(all_profiles_dict)
print(f'common_grp, elapsed : {common_grp, elapsed}')

common_grp, elapsed : ('O-', 0.006062700000256882)

***calculate the mean-current_location***

In [40]:
def mean_current_loc_d(all_dict):
    start = perf_counter()
    x_mean = mean(list(map(lambda profile:profile['current_location'][0], all_dict.values())))
    y_mean = mean(list(map(lambda profile:profile['current_location'][1], all_dict.values())))
    end = perf_counter()
    mean_loc = (x_mean, y_mean)
    return mean_loc, end-start

In [41]:
mean_loc, elapsed = mean_current_loc_d(all_profiles_dict)
print(f'mean_loc, elapsed : {mean_loc, elapsed}')

mean_loc, elapsed : ((Decimal('0.1314284094'), Decimal('0.3402126222')), 0.04806579999967653)

***calculate the oldest_person_age***

In [42]:
def oldest_person_age_d(all_dict):
    start = perf_counter()
    oldest_dob = min(list(map(lambda profile:profile['birthdate'], all_dict.values())))
    current_dt = date.today()
    end = perf_counter()
    return round((current_dt - oldest_dob).days/365, 2), end-start

In [43]:
oldest_age, elapsed = oldest_person_age_d(all_profiles_dict)
print(f'oldest_age, elapsed : {oldest_age},  {elapsed}')

oldest_age, elapsed : 116.05,  0.004086799999640789

***calculate the average age***

In [44]:
def average_age_d(all_dict):
    start = perf_counter()
    current_dt = date.today() 
    avg_age = mean(list(map(lambda profile:(current_dt - profile['birthdate']).days/365, all_dict.values())))
    end = perf_counter()
    return round(avg_age, 2), end-start

In [45]:
avg_age, elapsed = average_age_d(all_profiles_dict)
print(f'Avg_age, elapsed : {avg_age},  {elapsed}')

Avg_age, elapsed : 57.36,  0.02195939999910479

### Create fake data (you can use Faker for company names) for imaginary stock exchange for top 100 companies (name, symbol, open, high, close). Assign a random weight to all the companies. Calculate and show what value the stock market started at, what was the highest value during the day, and where did it end. Make sure your open, high, close are not totally random. You can only use namedtuple. - 500  (including 10 test cases)

In [102]:
weights = []
names   = []
symbols = []
symbol_set = set()
for _ in range(100):
    wt = round(random.uniform(1,5), 2)
    weights.append(wt)
    name    = generate.company()
    names.append(name)    
    symbol  = name[0:3].upper() + random.choice(string.ascii_uppercase)
    if symbols and _ % 31 == 0:
        symbol = symbols[2]
        print(f'symbols[2] - {_} {symbols[2]}')
    while symbol in symbol_set:
         print(_, symbol)
         symbol = symbol[0:3].upper() + random.choice(string.ascii_uppercase)
         print(f'New symbol - {_}, {symbol}')
    symbols.append(symbol)
    symbol_set.add(symbol)

symbols[2] - 31 SMIG
31 SMIG
New symbol - 31, SMIL
51 HARH
New symbol - 51, HARU
symbols[2] - 62 SMIG
62 SMIG
New symbol - 62, SMIH
symbols[2] - 93 SMIG
93 SMIG
New symbol - 93, SMIB

In [72]:
company = namedtuple('company','name, symbol, open, high, close ,weight')
company_comb = namedtuple('company_comb', 'info')

In [73]:
def stock_market_valu():
    for i in range(10):
        name    = names[i]
        symbol  = symbols[i]
        weight  = weights[i]
        open_   = round(random.uniform(100,1000), 2) * weight
        high_   = random.uniform(1, 1.4) * open_
        close_  = random.uniform(0.6, 1) * high_
        comp = company(name, symbol, open_, high_, close_, weight)
        if i == 0:
            top_100 = company_comb(comp)
        else:
            top_100 += company_comb(comp)
    open_value  = round(sum(list(map(lambda comp : comp[2], top_100))), 4)
    high_value  = round(sum(list(map(lambda comp : comp[3], top_100))), 4)
    close_value = round(sum(list(map(lambda comp : comp[4], top_100))), 4)
    return open_value, high_value, close_value, top_100

In [74]:
result = stock_market_valu()
result[0:3]

(14658.4669, 16846.0126, 13727.2905)

In [75]:
top_100_nt = result[-1]

In [79]:
min(list(map(lambda comp:comp[-1], top_100_nt))) >= 1

True

In [80]:
max(list(map(lambda comp:comp[-1], top_100_nt))) <= 5

True

In [85]:
max(list(map(lambda comp:comp[-1], top_100_nt))) >= 5

False

In [82]:
lst = list(map(lambda comp:comp[1], top_100_nt))
lst

['MOOM',
 'MORW',
 'STEW',
 'HOLM',
 'CHAH',
 'ROSE',
 'JORO',
 'VAST',
 'GARC',
 'LAMF']

In [83]:
set(lst)

{'CHAH',
 'GARC',
 'HOLM',
 'JORO',
 'LAMF',
 'MOOM',
 'MORW',
 'ROSE',
 'STEW',
 'VAST'}

In [84]:
len(set(lst)) == len(lst)

True

In [86]:
s = {1, 2, 3}

In [87]:
s.add(1)

In [88]:
s

{1, 2, 3}