## Notebook Covers following topics:
- **Dummy variables in tuples ' *_ '**
    - Can use only one  *_  in tuple unpacking
- **Importance of '__repr__' while defining classes**
- **Strings are immutable**
- **Tuples are immutable**
- **Enumerate**
    - Gives index & item while iterating
- **Named Tuples**
    - Overriding doc functions
    - Overriding **default** values in functions & named tuples
    - How to use a function to generate random namedtuple instances
    - How to use dictionary to create a namedtuple instance
    - How to check if something is **iterable or not**. eg:dict.values()
    - How to refer dynamically to fields in namedtuple like **d2.key_name** - Use **getattr(d2, key_name)**
- **Faker** to create fake data
- **How to use namedtuple to create another namedtuple**

In [2]:
#Imports required for this notebook
from random import uniform
from math import sqrt
from collections import namedtuple
from random import randint, random
from collections.abc import Iterable
from faker import Faker

In [ ]:
pip install faker

***Dummy Variables***

In [4]:
tup = 'Anil', 'India', "5.7inches", '65kg','Married', '37 years'

In [10]:
# Let us say we are interested only in Married status, we can use dummy variables as follows:

name, *_, marital_status, age = tup
print(f' Name : {name}, marital_status: {marital_status}')

 Name : Anil, marital_status: Married

In [11]:
# However we cant use more than 1 *_ in tuple unpcaking. In above example we dont need age, but can't help. Below will error out
name, *_, marital_status, *__ = tup

SyntaxError: two starred expressions in assignment (<ipython-input-11-79736d05f047>, line 2)

***Importance of repr***

In [13]:
# Let us define a class without repr

class Point2D():
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [14]:
p1 = Point2D(10, 20)

In [15]:
#If we give p1 it will just say it is an object because __repr__ is missing
p1

In [16]:
# Let us redefine same class now with repr

class Point2D():
    def __init__(self, x, y):
        self.x = x
        self.y = y 
        
    def __repr__(self):
        return f'{self.__class__.__name__} - {self.x}, {self.y}'

In [17]:
p1 = Point2D(10, 20)
p1

Point2D - 10, 20

***Strings are IMMutable***

In [20]:
# Please notice ID changes once we alter 'a'

a = 'Python'
print(f' a {a}, id :{hex(id(a))}')
a += 'Rocks'
print(f' a {a}, id :{hex(id(a))}')

 a Python, id :0x1e250556a70
 a PythonRocks, id :0x1e25597fb30

***Tuples are immutable***

In [21]:
# Please notice ID changes once we alter 'a'

a = (1, 2, 344)
print(f' a {a}, id :{hex(id(a))}')
a += (6, 7)
print(f' a {a}, id :{hex(id(a))}')

 a (1, 2, 344), id :0x1e2558f1240
 a (1, 2, 344, 6, 7), id :0x1e2549f2590

## Enumerate

In [22]:
london   = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing  = 'Beijing', 'China', 21_000_000
print(london, new_york, beijing)

('London', 'UK', 8780000) ('New York', 'USA', 8500000) ('Beijing', 'China', 21000000)

In [23]:
# Enclose these in a list
cities = [london, new_york, beijing]
cities

[('London', 'UK', 8780000),
 ('New York', 'USA', 8500000),
 ('Beijing', 'China', 21000000)]

In [24]:
for item in enumerate(cities):
    print(item)

(0, ('London', 'UK', 8780000))
(1, ('New York', 'USA', 8500000))
(2, ('Beijing', 'China', 21000000))

In [25]:
# We can do tuple unpacking while using enumerate

for index, item in enumerate(cities):
    print(f'Index : {index}, Item : {item}')

Index : 0, Item : ('London', 'UK', 8780000)
Index : 1, Item : ('New York', 'USA', 8500000)
Index : 2, Item : ('Beijing', 'China', 21000000)

***Example of tuple : Pi/4 = No:of random uniform points placed inside circle/ Total no: of random uniform points thrown in square***

In [26]:
from random import uniform
from math import sqrt

def throw_points(rad):
    x = uniform(-rad, rad)
    y = uniform(-rad, rad)
    
    if (x**2 + y**2) < rad:
        is_inside_circle = True
    else:
        is_inside_circle = False
        
    return x, y, is_inside_circle

In [29]:
num_attempts = 10_000
count_inside = 0

for _ in range(num_attempts):
    *_, is_inside = throw_points(1)
    if is_inside:
        count_inside += 1
        
print(f' Value of pi is {4*count_inside/num_attempts}')

 Value of pi is 3.1608

## Named Tuples

***Let us we just want x,y,z to be stored as below.***

In [14]:
class Point():
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

In [17]:
p1 = Point(10, 20, 30)
p2 = Point(10, 20, 30)

In [18]:
#Please note that p1 is not showing values because we haven't defined __repr__
p1

In [20]:
# Also, equality will not work because we didn't implement __eq__ method
p1 == p2

False

***In such cases 'Named Tuples' will be better option***

In [4]:
from collections import namedtuple

In [5]:
Point3D = namedtuple('Point3D', 'x y z')

In [24]:
p2 = Point3D(10, 20, 30)

In [10]:
# We can display p2 without a '__repr__'. 
p2

Point3D(x=10, y=20, z=30)

In [22]:
# Same as in class, we can display attributes
p2.x, p2.y, p2.z

(10, 20, 30)

In [25]:
#All methods available for tuples are available in named tuples as well. eg ==
p3 = Point3D(10, 20, 30)
p2 == p3

True

In [27]:
#Multistrings are supported while defining NamedTuples
Stock = namedtuple('Stock', '''
                symbol
                year
                month
                day
                open
                high
                low
                close
                ''')

In [28]:
bse = Stock('BSE', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)
bse

Stock(symbol='BSE', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [29]:
#Tuple unpacking using dummy variables can be done
yr, *_, close = bse
print(yr, close)

BSE 26393

In [30]:
#It is also iterable
for e in bse:
    print(e)

BSE
2018
1
25
26313
26458
26260
26393

In [31]:
# _fields
bse._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

***An example to use NamedTuples with List comprehension***

In [2]:
def dot_product(a,b):
    return sum((e[0]*e[1]) for e in list(zip(a,b)))

In [47]:
pt1 = Point3D(1, 2, 3)
pt2 = Point3D(1, 1, 1)

In [48]:
dot_product(pt1, pt2)

6

In [5]:
Point2D = namedtuple('Point2D', 'x y')
pt3 = Point2D(11, 22)
pt4 = Point2D(1, 2)
dot_product(pt3, pt4)

55

***Using __doc__ with namedtuple***

In [6]:
Point2D.__doc__

'Point2D(x, y)'

In [7]:
# We can override the doc as follows

Point2D.__doc__ = 'Defining a point in 2D'
Point2D.x.__doc__ = 'X Coordinate'
Point2D.y.__doc__ = 'Y Coordinate'

In [8]:
Point2D.__doc__

'Defining a point in 2D'

In [11]:
Point2D.x.__doc__

'X Coordinate'

In [12]:
help(Point2D)

Help on class Point2D in module __main__:

class Point2D(builtins.tuple)
 |  Point2D(x, y)
 |
 |  Defining a point in 2D
 |
 |  Method resolution order:
 |      Point2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new OrderedDict which maps field names to their values.
 |
 |  _replace(_self, **kwds)
 |      Return a new Point2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Point2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x, y)
 |      Create new instance of Point2D(x, y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x
 |      X Coordinate
 |
 |  y
 |      Y Coordinate
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x', 'y')
 |
 |  _fields_defaults = {}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.

## How to change function defaults

In [14]:
def func(a, b=1, c=2):
    print(f'a, b, c : {a, b, c }')

In [15]:
func(10)

a, b, c : (10, 1, 2)

***We can change the defaults 'b' & 'c' as follows. Please note that these are 'right-aligned'***

In [16]:
func.__defaults__ = 100, 200

In [17]:
func(10)

a, b, c : (10, 100, 200)

In [18]:
# Even if we give more values than actual default values, only right most will be taken-up
func.__defaults__ = 10, 20, 30, 1000, 2200

In [19]:
func(10)

a, b, c : (10, 1000, 2200)

***Let us try this in namedtuples also***

In [20]:
Vector2D = namedtuple('Vector2D','x1 y1 x2 y2 origin_x origin_y')

In [21]:
Vector2D._fields

('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')

In [30]:
v1 = Vector2D(1,1,2,2,0,0)

In [31]:
# Let us say we want to have origins as 0, 0 always & dont want to supply this while defining namedtuple each time
# Currently, we have to give it each time as below
v2 = Vector2D(2,2,4,4)

TypeError: __new__() missing 2 required positional arguments: 'origin_x' and 'origin_y'

In [32]:
v2 = Vector2D(2,2,4,4,0,0)

In [34]:
# We can change the defaults as follows. Since they are right-aligned, 2 right most fields will get these values ie origin_x
# and origin_y
Vector2D.__new__.__defaults__ = (0, 0)

In [35]:
Vector2D._fields

('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')

In [36]:
# Now we can define without supplying origin values
v3 = Vector2D(3,3,6,6)

In [37]:
v3

Vector2D(x1=3, y1=3, x2=6, y2=6, origin_x=0, origin_y=0)

In [38]:
# Let us say we can x2 and y2 to be fixed at (3,3), we can do that as follows
Vector2D.__new__.__defaults__ = (3, 3, 0, 0)

In [39]:
# Now we just need to supply x2 & y2
v4 = Vector2D(10, 10)
v4

Vector2D(x1=10, y1=10, x2=3, y2=3, origin_x=0, origin_y=0)

***How to use namedtuples in a function to generate random instances***

In [40]:
color = namedtuple('color', 'red green blue alpha')

In [44]:
from random import randint, random

def random_color():
    red   = randint(0, 255)
    blue  = randint(0, 255)
    green = randint(0, 255)
    alpha = randint(0, 255)    
    return color(red, blue, green, alpha)

In [45]:
color1 = random_color()

In [46]:
color1

color(red=177, green=36, blue=56, alpha=184)

In [47]:
color1.green

36

***How to use dictionary to create namedtuple***

In [49]:
# Let us define a dictionary first
data_dict = dict(name='Anil Bhatt', dob='Dec 1983', country='India')
data_dict

{'name': 'Anil Bhatt', 'dob': 'Dec 1983', 'country': 'India'}

In [53]:
#Now let us define a namedtuple using keys from data_dict
name_data = namedtuple('name_data', data_dict.keys())
name_data._fields

('name', 'dob', 'country')

In [55]:
#Now let us create an instance of name_data using data_dict
name_anil = name_data(**data_dict)
name_anil

name_data(name='Anil Bhatt', dob='Dec 1983', country='India')

***How to check if an item is iterable or not***

In [58]:
from collections.abc import Iterable

In [62]:
type(data_dict.values()) # We can't always figure out by type

dict_values

In [63]:
isinstance(data_dict.values(), Iterable)

True

In [64]:
a = 7
type(a)

int

In [65]:
isinstance(a, Iterable)

False

***How to refer dynamically to fields in namedtuple like 'd2.key_name' using getattr eg: getattr(name_anil, key_dob)***

In [67]:
name_anil

name_data(name='Anil Bhatt', dob='Dec 1983', country='India')

In [68]:
key_dob = 'dob'

In [69]:
#We can access 'dob' as follows
name_anil.dob

'Dec 1983'

In [71]:
#But we cant as below
name_anil.key_dob

AttributeError: 'name_data' object has no attribute 'key_dob'

In [73]:
#We can access it using getattr
getattr(name_anil, key_dob)

'Dec 1983'

## Faker - To generate fake data (useful for testing)

In [75]:
pip install faker

Collecting faker
  Downloading https://files.pythonhosted.org/packages/1c/b1/afbf97c6a208eb5c6e5b78e5233a01bf285288614c524059ffb3cf089760/Faker-8.8.2-py3-none-any.whl (1.2MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\annbhatt\appdata\local\continuum\anaconda3\lib\site-packages (from faker) (2.8.0)
Collecting text-unidecode==1.3
  Downloading https://files.pythonhosted.org/packages/a6/a5/c0b6468d3824fe3fde30dbb5e1f687b291608f9473681bbf7dabbf5a87d7/text_unidecode-1.3-py2.py3-none-any.whl (78kB)
Requirement already satisfied: six>=1.5 in c:\users\annbhatt\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.12.0)
Installing collected packages: text-unidecode, faker
Successfully installed faker-8.8.2 text-unidecode-1.3
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.3.1; however, version 21.1.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [77]:
import faker

In [79]:
from faker import Faker

In [80]:
fake = Faker()

In [81]:
fake.profile()

{'job': 'Media buyer',
 'company': 'Pierce-Brock',
 'ssn': '359-87-8610',
 'residence': '5748 Welch Junctions Apt. 740\nEast Sandrafort, IN 81982',
 'current_location': (Decimal('-83.3739805'), Decimal('-158.552968')),
 'blood_group': 'O-',
 'website': ['http://schultz.org/'],
 'username': 'moralesangela',
 'name': 'Edward Thompson',
 'sex': 'M',
 'address': '57168 Roberts Bridge\nSouth Rhondabury, IL 65179',
 'mail': 'michellegomez@yahoo.com',
 'birthdate': datetime.date(1966, 4, 11)}

In [82]:
fake.profile()

{'job': 'Geologist, engineering',
 'company': 'Walker LLC',
 'ssn': '656-86-9146',
 'residence': '75027 Tiffany Fords\nNorth Saraland, CT 68369',
 'current_location': (Decimal('34.543174'), Decimal('125.020878')),
 'blood_group': 'A-',
 'website': ['http://kim.biz/', 'https://www.rodriguez.org/'],
 'username': 'juliasmith',
 'name': 'Dylan Park',
 'sex': 'M',
 'address': '22464 David Burg\nEast Dawnhaven, AZ 15571',
 'mail': 'lburgess@hotmail.com',
 'birthdate': datetime.date(2006, 3, 1)}

In [83]:
fake.building_number()

'70894'

In [84]:
fake.email()

'claudia09@hotmail.com'

### How to Use namedtuple to create another namedtuple

In [4]:
cl_club

uefa_club(info=<class '__main__.club'>)

In [5]:
club_lst = [('Arsenal','UK'), ('Man-U','UK'),('Man-C','UK'),('LiverPool','UK'),
            ('Barca','Spain'),('Real-Madrid','Spain'),('Bayern','Germany'),('Borussia','Germany')]

# Adding participating clubs(named tuple instances created out of 'club') to champions-league club(instance of uefa club) to create a collection of named tuples
for club_name, country in club_lst:
    participating_club  = club(club_name, country)
    cl_club  += uefa_club(participating_club)

***Approach 1 : Let us create a namedtuple & try to concatenate it in a normal tuple (it wont work)***

In [36]:
club      = namedtuple('club', 'Name, Country')  # This will have various clubs from different countries
cl_club = ()     # An empty tuple to store namedtuples created from club

In [37]:
club_lst = [('Arsenal','UK'), ('Man-U','UK'),('Man-C','UK'),('LiverPool','UK'),
            ('Barca','Spain'),('Real-Madrid','Spain'),('Bayern','Germany'),('Borussia','Germany')]

# Adding participating clubs(named tuple instances created out of 'club') to cl_club which is a () 
for club_name, country in club_lst:
    participating_club  = club(club_name, country)
    cl_club  += participating_club

In [38]:
cl_club         # Namedtuple is getting broken down into individual elements

('Arsenal',
 'UK',
 'Man-U',
 'UK',
 'Man-C',
 'UK',
 'LiverPool',
 'UK',
 'Barca',
 'Spain',
 'Real-Madrid',
 'Spain',
 'Bayern',
 'Germany',
 'Borussia',
 'Germany')

In [39]:
len(cl_club)

16

***Approach 2 : Instead of storing in tuple, can we try list (it wont work)***

In [40]:
club      = namedtuple('club', 'Name, Country')  # This will have various clubs from different countries
cl_club = []     # An empty list to store namedtuples created from club

In [41]:
club_lst = [('Arsenal','UK'), ('Man-U','UK'),('Man-C','UK'),('LiverPool','UK'),
            ('Barca','Spain'),('Real-Madrid','Spain'),('Bayern','Germany'),('Borussia','Germany')]

# Adding participating clubs(named tuple instances created out of 'club') to cl_club which is a []
for club_name, country in club_lst:
    participating_club  = club(club_name, country)
    cl_club  += participating_club

In [42]:
cl_club

['Arsenal',
 'UK',
 'Man-U',
 'UK',
 'Man-C',
 'UK',
 'LiverPool',
 'UK',
 'Barca',
 'Spain',
 'Real-Madrid',
 'Spain',
 'Bayern',
 'Germany',
 'Borussia',
 'Germany']

### Approach 3 : Use named tuple to store named tuple
***Question : Why do need named tuple to store these country list ? Wont a simple tuple do.***

***Answer : In this case, it is only 2 fields - Name & Country. But if no: of fields increase, we will need better ways to handle & refer data. Named tuples offers us the power of classes as well as tuples. So we need to harness that.***

In [46]:
club      = namedtuple('club', 'Name, Country')  
# This will have various clubs from different countries

uefa_club = namedtuple('uefa_club', 'info')      
# Creating another namedtuple. This will be used to save the namedtuples created out of 'club'  

cl_club   = uefa_club(club)    
# cl_club is an instance of 'uefa club' created from club. We will add clubs created out of 'club' into this

In [47]:
cl_club

uefa_club(info=<class '__main__.club'>)

In [44]:
club_lst = [('Arsenal','UK'), ('Man-U','UK'),('Man-C','UK'),('LiverPool','UK'),
            ('Barca','Spain'),('Real-Madrid','Spain'),('Bayern','Germany'),('Borussia','Germany')]

# Adding participating clubs(named tuple instances created out of 'club') to cl_club(instance of uefa club) to create a collection of named tuples
for club_name, country in club_lst:
    participating_club  = club(club_name, country)
    cl_club  += uefa_club(participating_club)

In [45]:
cl_club

(__main__.club,
 club(Name='Arsenal', Country='UK'),
 club(Name='Man-U', Country='UK'),
 club(Name='Man-C', Country='UK'),
 club(Name='LiverPool', Country='UK'),
 club(Name='Barca', Country='Spain'),
 club(Name='Real-Madrid', Country='Spain'),
 club(Name='Bayern', Country='Germany'),
 club(Name='Borussia', Country='Germany'))

In [ ]:
def